[2016-10-21 13:54] rpkilby commented on #527
Hi @Megido6 - you should try stackoverflow for usage questions.

[2016-10-22 09:38] #527 closed

[2016-10-22 09:39] #525 closed

[2016-10-22 09:45] carltongibson opened #528 "Document `request` usage"
# 520 add access to the `request`.

Give example of overriding `qs` property to perform request based filtering. (e.g. on `Accepts-Languages` header, or such)

[2016-10-25 03:13] awolfmann opened #529 "How to "Serialize" a Filter for DRF?"
I'm using Django Rest Framework, and now i'm implementing some filters on my app.
I have defined a filter with fields, some of them are AllValuesMultipleFilter.
This works perfectly in the browsable API, but I would like to send through my API what are the available fields to filters, and the possibles choices to put on them, so the frontend can have the information about what are the filters to s

[2016-10-25 10:01] Canicio opened #530 "How to access the current user in MethodFilter?"
For example:

    class MyFilter(filters.FilterSet):
        field = MethodFilter()
        def filter_field(self, queryset, value):
            if value:
                return queryset.filter(user=...)
            return queryset

'self.request.user' does not exist

[2016-10-25 15:55] rpkilby commented on #530
#520 was recently merged and should be available in the next release. In the mean time, you would have to manually set the request on the filterset in order to access it in the filter method.

[2016-10-25 16:00] rpkilby commented on #529
You may want to take a look at DRF's [schema](http://www.django-rest-framework.org/api-guide/schemas/) abstraction. #492 added core-api integration.

That is a mistake. Fixed in  #531.

[2016-10-25 16:54] Canicio commented on #530
Ok. Thank you very much.

[2016-10-25 16:55] #530 closed

[2016-10-25 16:55] #529 closed

[2016-10-26 13:12] dilyanpalauzov opened #532 "django/template/base.py: DeprecationWarning:__getitem__ QuerySet methods are no longer proxied."
class BaseFilterSet deprecates __getitem__ and defines property called  "form".

I have a class, that derives from django_filters.views.FilterView.  When it is rendered with Django 1.10.2, indjango/template/base.py:885 is called current=current[bit] with bit = "form" and current=myFilterVeiw.  This creates
[code]

[2016-10-26 13:26] carltongibson commented on #532
You need to read the docs at the URL provided in the error message: https://django-filter.readthedocs.io/en/latest/migration.html#queryset-methods-are-no-longer-proxied

[2016-10-26 13:26] #532 closed

[2016-10-26 13:56] dilyanpalauzov commented on #532
I beleive it is not me who calls myFilterSet['form'] <=> myFilterSet.__getitem__('form'), but Django itself.  So in this case __getitem__ shall be altered to throw an exception, when myFilterSet['form'] is called (like not subscriptable).

[2016-10-26 14:10] rpkilby commented on #532
The referenced PR provides context. In short, this is a side effect of the DTL's variable lookup [rules](https://docs.djangoproject.com/en/1.10/ref/templates/language/#variables). The upcoming `1.0` release will remove the deprecated methods and the warnings will cease.

If you can't just ignore the errors for the short term, you have two options:
- add a warnings filter to ignore the deprecation

[2016-10-26 18:57] awolfmann commented on #529
Hey @rpkilby Thanks for the tip!
Do you have an example of a use case? I couldn't find anyone.. I tried with:
`
class UserViewSet(viewsets.ModelViewSet):
    queryset = User.objects.all()
    serializer_class = UserSerializer
    filter_class = UserFilter

class UserFilterSchemaView(APIView):
    renderer_classes = [CoreJSONRenderer]

    def get(self, request):
        generator = schemas.SchemaG

[2016-10-26 19:02] rpkilby commented on #529
Sorry - I'm not familiar with core-api. #492 was based on work by DRF's author.

That said, I would look at [`SchemaGenerator`](http://www.django-rest-framework.org/api-guide/schemas/#schemagenerator). It seems to handle exposing the various filter backends.

[2016-10-27 14:25] epicserve opened #534 "Add an applied_filters attribute or method to a bound filter instance"
It would be nice to have a method or attribute for the a `filter` instance so that you can list what filters have been applied to your query set. So in a template you could list what filters are being used and provide a link to remove them.

It would be nice it returned a list or iterable that's something like the following:

[code]

[2016-10-27 14:52] rpkilby commented on #534
This seems like something that should be handled by the filterset form. If the filter field has a bound value, then you can display the link to clear the field. If the field has no value, it will return `None`.

[code]

[2016-10-27 15:00] epicserve commented on #534
@rpkilby How would you get the option selected from a select type field like a Boolean field (e.g. Yes or No)?

[2016-10-27 15:20] rpkilby commented on #534
Do you need the actual value or the display value? The actual value would be accessible w/ the `.value()` call. To get the display value, you would have to access the field's choices.

[2016-10-27 15:33] epicserve commented on #534
However finding the choices isn't working at the moment.

[code]

This is way it would be handy to have what I suggested so others could just easily use the data. Seemls logical to me anyway that if you have a filter library you would want data easily accessible to use for what filters have been applied.

[2016-10-27 15:42] rpkilby commented on #534
Keep in mind that when the form is initialized, you're dealing with `BoundField`s. In order to access the underlying field class, you would need to do the following:
[code]

Either way, it's not entirely clear what you're trying to achieve.

- Why isn't the rendered form sufficient?
- Why can't the users just remove the value from the form field and resubmit the form?

[2016-10-27 16:03] epicserve commented on #534
No joy:

[code]

Because it's becoming a pain to get the data needed

They can, but when you have a UI where the filter form isn't always visible and is shown or hidden by clicking a filter button, it's nice to display what has been applied with removable labels like the following screenshot found by doing a Google image search for "applied filters."

![16-3-risk-filter-applied](https://cloud.gith

[2016-10-27 16:10] rpkilby commented on #534
There is a difference between

[code]
and
[code]

The former is the bound field, the latter is the regular form field.

You could do either of the following to get the choices.
[code]

[2016-10-27 16:24] epicserve commented on #534
I just don't think choices are available on a NullBooleanField. I've tried it all the ways you're talking about.

[2016-10-27 16:27] rpkilby commented on #534
Ah - null boolean is slightly different in that it's the [`NullBooleanSelect`](https://github.com/django/django/blob/1.10/django/forms/widgets.py#L561-L589) widget that provides the choices.

[2016-10-27 16:30] epicserve commented on #534
Anyway are you starting to understanding way having a method/attribute like `filter.applied_filters` with the data I suggested would be super nice?

[2016-10-30 17:48] rpkilby commented on #528
Is this covered by the docs in #494?

[2016-10-31 18:56] gabn88 opened #535 "Just want to say Well Done for the latest update!"
Especially the new way to add OrderingFilter makes much more sense!
Just love it!
👍

[2016-11-01 04:56] Aletz-Morales opened #537 "Double Join"
When set multiple filter related to parent table, query is generated with double join.

`SELECT `core_product`.`id`, `core_product`.`name`, `core_product`.`active`, `core_product`.`created_at`, `core_product`.`updated_at`, `core_product`.`nutrients_info`, `core_product`.`ingredients_info`, `core_product`.`nutri_data_info`, `core_product`.`brand_id`, `core_product`.`category_id`, `core_product`.`su

[2016-11-01 17:32] rpkilby commented on #537
Reformatted SQL:

[code]

[2016-11-02 10:45] #535 closed

[2016-11-02 10:45] carltongibson commented on #535
Thanks.

[2016-11-02 11:02] carltongibson commented on #534
OK, first pass, _this_. If you want to progressively enhance the form in any way you can but, that would be my first port of call.

I'm inclined to say this is something needs handing on the client side. (There are all sorts of libraries that take a vanilla HTML form and enhance it.)

_Maybe_ there's room for a utility to inspect a Django Form and output a nice JSON representation but I'd that's O

[2016-11-02 11:02] #534 closed

[2016-11-02 11:03] carltongibson commented on #537
This isn't a Django Filter issue. (_If_ it's an issue, it's an issue for the Django ORM.)

[2016-11-02 11:03] #537 closed

[2016-11-02 11:12] carltongibson commented on #528
Closed by #494

[2016-11-02 11:12] #528 closed

[2016-11-02 13:11] #261 closed

[2016-11-02 15:16] #479 closed

[2016-11-02 20:01] carltongibson commented on #343
Todo:

* [ ] Override `__init__` adding `kwargs.setdefault('lookup_expr', 'contains')`
* [ ] Add valid lookups to Docs and docstring
* [ ] Review test cases

[2016-11-02 20:02] #277 closed

[2016-11-02 20:15] carltongibson commented on #522
I think the bulk of this was covered by #519.

@GuillaumeCisco please review that. If there is a specific test case that you think should be covered could you open a PR adding that and we can review.

Thanks.

[2016-11-02 20:15] #522 closed

[2016-11-02 20:27] carltongibson commented on #425
This applies equally to the generated fields passing a list to `lookup_expr`. It would be nice to resolve this.

[2016-11-02 20:40] #489 closed

[2016-11-02 20:41] carltongibson commented on #401
At the moment happy to leave this. If someone finds an actual logic error we can address it then.

[2016-11-02 20:41] #401 closed

[2016-11-02 20:44] carltongibson commented on #493
Happy to take a documented, tested PR on this, otherwise I'm going to close it for the moment. (It's a simple enough addition to project code if you need it.)

[2016-11-02 20:44] #493 closed

[2016-11-02 20:44] carltongibson commented on #517
I'm going to assume this is resolved. Shout if not.

[2016-11-02 20:44] #517 closed

[2016-11-02 21:35] carltongibson commented on #521
It's looking like this is an issue with DRF, Model Inheritance and `__all__` on Django master https://github.com/tomchristie/django-rest-framework/pull/4648

Will keep this open just to track for now.

[2016-11-02 21:58] rpkilby commented on #521
Oddly enough, I cannot reproduce this locally.

[2016-11-02 21:59] rpkilby commented on #517
@carltongibson - would it be worth adding a documentation example for this. Is it a common enough use case?

[2016-11-02 22:15] carltongibson commented on #517
Good idea!

[2016-11-02 22:25] rpkilby commented on #343
Hey @carltongibson - I feel dumb.
- `exact` lookups are completely valid. The ones I found a while back are *just* the containment lookups.
- The docs do include relevant relevant information about the nature of `NumericRangeFilter` and the additional lookups.
- Test cases are all in order.

I don't think there's really anything to do here except clean up some of the reference docs formatting.

[2016-11-03 08:08] carltongibson commented on #343
Closed by #540

[2016-11-03 08:08] #343 closed

[2016-11-03 08:18] carltongibson commented on #521
In fact I'm pretty sure this is DRF's issue. I'll close it here. (We can always "Reopen")

[2016-11-03 08:18] #521 closed

[2016-11-03 08:33] carltongibson commented on #518
What's the actual request here? Something like, "Can we add an OrderingFilter without actually having to declare it?"

[2016-11-03 09:03] carltongibson opened #541 "Improve Docs on Filtering for empty values"
It's often needed to filter for items where a value **is not set**.

It's a bit tricky because we need to distinguish between a `null` and a merely empty value.

There are various approaches (add an extra filter, add a `MAGIC` value, ...). None are complicated, but none are such that we want to add every possible `Filter` subclass to the core library.

(If a decent generic solution turns up, we'll

[2016-11-03 09:05] carltongibson commented on #446
I'm going to close this in favour of #541.

As it stands I don't see a generic solution, and I don't want to add a plethora of `Filter` subclasses to the main project for every possible use-case. (The custom filters are pretty easy to come up with yourself.)

Happy to take a PR with that generic solution. 🙂

[2016-11-03 09:05] #446 closed

[2016-11-03 09:06] carltongibson commented on #478
I'm going to close this in favour of #541.

As it stands I don't see a generic solution, and I don't want to add a plethora of `Filter` subclasses to the main project for every possible use-case. (The custom filters are pretty easy to come up with yourself.)

Happy to take a PR with that generic solution. 🙂

[2016-11-03 09:06] #478 closed

[2016-11-03 10:50] blueyed commented on #518
@carltongibson
Yes.

[2016-11-03 11:06] carltongibson commented on #518
OK. I'm not sure, though, that it gets much simpler than:

    o = OrderingFilter(fields=["name", "age", "nationality"])

(Or whatever for your case)

What's the UI you want look like?

[2016-11-03 14:42] rpkilby commented on #541
So, a "Filtering by empty values" section in the docs that discusses existing approaches as well as home-brewed approaches? Where should this live? Usage guide would make the most sense right now, but that section is already fairly long.

[2016-11-03 14:45] carltongibson commented on #541
Indeed. :-)

I'm secretly planning a docs re-organisation...

If you fancy taking this on, how about creating a new page, as a sub section of `Usage`? That would be a good temporary place, even if it moves.

[2016-11-03 15:00] rpkilby commented on #518
It seems like there are two separate request:
1. Add an ordering filter without having to explicitly declare the filter itself.
2. Automagically enable filtering on all fields.

For the first point, I'm kind of ambivalent. We could add back `Meta.order_by`, but how much more simple or efficient is

[code]

[2016-11-03 15:05] rpkilby commented on #518
It seems like there are two separate request:
1. Add an ordering filter without having to explicitly declare the filter itself.
2. Automagically enable filtering on all fields.

For the first point, I'm kind of ambivalent. We could add back `Meta.order_by`, but how much more simple or efficient is

[code]

As to the second point, I don't think there's anything that can be added to the core that is

[2016-11-03 15:08] rpkilby commented on #541
Not a bad idea. That said, is it worth postponing the 1.0 release for a docs rework?

[2016-11-03 15:12] GuillaumeCisco commented on #522
Thank you @carltongibson  and thank you too @rpkilby
Just pulled the develop branch.

The NullBooleanField is working now with django rest framework with this configuration:
`Model`:
[code]

`View`:
[code]

Note the difference between the choices tuples.

[2016-11-03 15:13] carltongibson commented on #541
I'd like to close this issue. (And there's one or two little doc changes I want to add as well.) But I see the docs as an ongoing project, rather than _Version 2™_ — It won't block the 1.0

[2016-11-03 15:29] rpkilby commented on #504
I'm still kind of :-1: on this. I don't see a way of resolving the `Meta.fields` dict syntax w/ declared filters. At least, not in a way that isn't awkward:

[code]

----

Additionally, this requirement runs into issues for custom model fields that don't inherit a field class found in the  `FilterSet.FILTER_DEFAULTS`. Custom fields would require the following:

[code]

Side note: this later point

[2016-11-03 15:31] carltongibson commented on #504
OK. Let's leave it for now.

I like the original proposal. I'm inclined to scope it to _If `fields` is a list..._ But I need to think about it a little more.

[2016-11-03 17:01] dilyanpalauzov commented on #493
Here we go, with the exception of the line following ``DateFilter`` in docs/ref/filters.txt:
[code]

[2016-11-03 20:59] carltongibson commented on #504
A bit of back and forth but I'm going to re-milestone this **just for the original issue**.

Either `fields` or `exclude` should be declared. `fields = '__all__'` should be the minimum.

(Not enforcing that the lists match is something we can come back to.)

The [relevant DRF code is here](https://github.com/tomchristie/django-rest-framework/blob/master/rest_framework/serializers.py#L1048-L1055):

[2016-11-04 11:23] carltongibson commented on #518
I don't want to do this.

I'm going to close this. It's not something I want to support as is.

[2016-11-04 11:23] #518 closed

[2016-11-04 15:51] pySilver opened #544 "Custom data input format for MultipleChoiceFilter / TypedMultipleValueField"
Hi!

I've added support for custom data input for MultipleChoiceFilter-like fields so it can accept data as:

[code]

Its common format for some JS frameworks (like angular). If community is interested, I'll make a PR

[2016-11-04 16:32] carltongibson commented on #544
Hi. I'm not sure I fully follow... Could you elaborate? (Why is what you're suggesting not covered by `CSVWidget`?)

Thanks.

[2016-11-04 17:26] pySilver commented on #544
First of all CSVWidget won't consume `foo[]=bar&foo[]=bar` which is common for rails/php/jquery folks:

http://api.jquery.com/jquery.param/
https://coderwall.com/p/uh8kiw/pass-arrays-objects-via-querystring-the-rack-rails-way

I'm not sure this is something that should be supported by django-filter out of the box though. We've faced this issue while developing AngularJS based frontend for DRF API

[2016-11-04 18:25] carltongibson commented on #544
OK. I understand.

This should be handled at the widget level... but yes, if a PR comes in I'd be happy to look at it.

TypedMultipleChiiceFilter: happy to take a PR. See #493

[2016-11-04 18:27] carltongibson commented on #544
I'm going to close this: it's not an active issue.

As I say, happy to look at a PR — begin with the widget, look at field and filter from there — it may be that they live at the user project level.

[2016-11-04 18:27] #544 closed

[2016-11-04 22:55] rpkilby commented on #504
I can definitely get behind that. Currently working on a PR.

[2016-11-05 01:19] pySilver commented on #493
@dilyanpalauzov thanks for sharing, I've created a PR from your patch.

[2016-11-05 08:25] carltongibson commented on #504
Cool.

Thinking about, don't worry about the depreciation. It's a small change, on a major version change. Just make sure to call it out in the change notes. 👍🏽

[2016-11-06 22:51] rpkilby commented on #504
The intent is slightly different, but we actually kind of covered this [here](https://github.com/carltongibson/django-filter/blob/0.15.3/django_filters/filterset.py#L136-L141).

Also, currently refactoring `filters_for_model` to not attempt filter generation for declared filters. (This is relevant to the subnet/mask example where `fields = ['mask']` would raise an unnecessary exception.

[2016-11-07 02:24] rpkilby commented on #461
btw, #550 is a potential fix for this issue. The filter generation would skip over already declared filters, so it would be safe to include `mac` in the fields list.

[2016-11-07 06:33] pySilver opened #551 "Bug in get_schema_fields"
There is an issue at `get_schema_fields` which prevents nested views to be processed. The problem is that url named argument contains a data that is consumed by queryset is always None since you manually setup a view.

Example

[code]

Root of a problem lays here:
[code]

[2016-11-07 08:05] carltongibson commented on #551
@pySilver Thanks for the report. Any chance you can reduce this down to a test case so we can see what's happening?

[2016-11-07 16:56] pySilver commented on #551
@carltongibson sorry, I'm kinda overloaded right now :( Just consider the fact that `view.get_queryset()` is not a best option since you have no guarantee that `view` does not use anything external in that method (`self.request.user` for instance). Since this queryset has no influence on introspection results we might use something like that:

[code]

[2016-11-07 17:04] rpkilby commented on #551
Correct me if I'm wrong, but I don't think nested views are a supported feature of DRF? Without additional details, it seems like the problem is that the nested view hasn't been properly initialized (ie, the view not having a `request` object).

[2016-11-07 17:10] pySilver commented on #551
@rpkilby nested views are supported since 2.x or even earlier. It's simply about the urlconfig and has nothing do to with DRF itself.

Having urlconfig like this `/(?P<project_id>\d+)/issues/(?P<issue_pk>\d+)` will give you `project_id` in your `IssuesViewSet` and its value will never be None, since `reverse_lazy` won't generate such url. So making fake request object won't solve the issue since y

[2016-11-07 17:27] rpkilby commented on #551
Gotcha - the viewset isn't nested in another viewset, it's a multi-argument/nested url pattern.

Do you mean the view initialized by the schema generation? The view instance is directly passed to `get_schema_fields()` and isn't manually created by the filter backend.

I'm not advocating creating a fake request object. I'm saying that the view should have been properly initialized with the request.

[2016-11-07 17:33] pySilver commented on #551
@rpkilby yeah I'm aware that solution I've posted earlier won't work for `filter_fields` I'm just in a rush to upgrade our app to latest versions of drf, django-filters and, drf-swagger so I intentionally omitted `filter_fields` support since we never use this feature.

It's still an issue, im using latest 3.5.2 release.

@tomchristie what you think about that? Whole issue looks like method signat

[2016-11-07 17:57] rpkilby commented on #551
No, but it may be used during filterset creation. Without the queryset/model, you have no filterset to get fields from. The queryset model is also used as part of a sanity check.

Either way, I'm not convinced that the real issue is with `get_schema_fields()`. The referenced issue indicates that the view instance should have a valid request object. However, you're reporting that this is not the ca

[2016-11-07 18:01] pySilver commented on #551
Ok, how one would create a valid request object in that case? I can't see how we can create required imaginary `project_id` since it should be a valid one, because it might be used inside `view.get_queryset` ...

[2016-11-07 18:14] rpkilby commented on #551
It's not clear to me why you're manually creating a request here. This should be DRF's responsibility when initializing the view.

[2016-11-07 18:23] pySilver commented on #551
thats what I ment – how DRF could do that, it sounds like "impossible"

[2016-11-07 18:24] rpkilby commented on #551
Alright, did a little poking around the schema generation. The problem is *not* that the request object doesn't exist. The problem is that the view is initialized without args/kwargs (see [SchemaGenerator.create_view](https://github.com/tomchristie/django-rest-framework/blob/3.5.3/rest_framework/schemas.py#L312-L335)).

Without the kwargs, you don't have a valid `project_id`. This makes sense now.

[2016-11-07 18:29] pySilver commented on #551
yeah this is basilcally what im doing now, and it looks bad. I mean you fix working code in order to make it work with schema generator.

[2016-11-07 18:40] rpkilby commented on #551
I mean, what do you do now if a user inputs an invalid `project_id`? Wouldn't your server 500 b/c of the uncaught `Project.DoesNotExist`?

[2016-11-07 18:45] pySilver commented on #551
it would raise 404 on `get_project` lvl. Okay, what if one uses request.user inside `view.get_queryset` ? Are we supposed to:

[code]

And that would lead to useless checks all over again and again across large codebase just in order to make schema generation work... It sounds insane, taking into account that queryset has no influence on fields setup at filterset class lvl. At least not now.

[2016-11-07 19:12] rpkilby commented on #551
There should be no problem here. The view is initialized with the request. The request user, headers, etc... should all be there.

Checking for the existence of the parent object doesn't seem insane to me. This really seems to be the only case where this kind of check would be necessary.

Additionally, you may not actually need to fetch the project instance. Wy not:

[code]

Except this is not cor

[2016-11-07 19:21] tomchristie commented on #551
There's always going to be some limits to what we'll be able to do with view introspection for schema generation. Broadly I'd be in favour of us making sure we document those cases and describe how you can best handle parts of it manually when required.

[2016-11-07 22:16] rpkilby commented on #551
Yep - this is an issue of expectations. Users (reasonably so) expect that their views will be initialized with the `request`, `args`, and `kwargs`. With schema generation, the view is artificially constructed (as the incoming request does not target the view), so the args and kwargs are empty. It might be useful to add a note to the schema docs that this is usually a non-issue but that users may n

[2016-11-07 23:21] rpkilby commented on #551
Hi @tomchristie @pySilver. See #553, adds a section to the docs about the caveat.

[2016-11-08 02:36] pySilver commented on #551
@tomchristie, @rpkilby  what if we some manual reflection helper that might override or even disable some inspection when user wants it?

We've build really large application with DRF and we've used DRF swagger from early days and we've faced a situation that 10% of views cannot be inspected on any circumstances, they are just not fit into tooling. So at some point we end up with `almost` good API

[2016-11-08 07:46] carltongibson commented on #551
@pySilver:

How is this different from the approach outlined in the [Explicit schema definition](http://www.django-rest-framework.org/api-guide/schemas/#explicit-schema-definition) section of the DRF docs? For a `FilterSet` you can just manually implement `get_schema_fields`. Do we really need extra API?

[2016-11-08 08:32] carltongibson commented on #551
Closed by #553

Schema Generation is pretty new. Both _Limitations_ and _Patterns_ will emerge over time. I'm happy to look at problems and concrete suggestions but don't consider this an active issue at the moment.

General strategy will be (as ever) to pull the logic back into the view, bypassing the framework code, and implementing just for the case at hand. When people have done that a few tim

[2016-11-08 10:05] carltongibson commented on #504
Closed by #550

[2016-11-08 10:05] #504 closed

[2016-11-08 19:37] #541 closed

[2016-11-10 10:00] shandy-li opened #557 "use django-filters，Multi table joint query is very slow,help!!"
Is studying Django, encountered the following problems
django version：1.9.4
python：2.7.2
django-filters：0.15.3

use django-filters，Multi table joint query is very slow,help!!

[code.txt](https://github.com/carltongibson/django-filter/files/583024/code.txt)

**models.py:**
from django.db import models

class Publish(models.Model):
    publishid = models.IntegerFiled(primary_key=True)
    publishnam

[2016-11-10 10:13] carltongibson commented on #557
I'm sorry, I can't diagnose performance problems for you.

I suggest you try [Django Debug Toolbar](http://django-debug-toolbar.readthedocs.io/en/stable/) and look at your SQL queries.

[2016-11-10 10:13] #557 closed

[2016-11-14 17:35] dangusev opened #560 "TypeError: can't pickle odict_items objects in python 3.5"
Hello, I caught an error during instantiation of FilterSet-derived class in python>=3.5. In 3.4 everything works ok.

[code]

Example of my FilterSet class. Fields DateTimeFIlter and CommaSeparatedCharFilter are custom:
[code]

[2016-11-14 18:02] rpkilby commented on #560
That doesn't make sense. Two thoughts:
- The test suite is ran against python 3.5, this kind of issue would have been picked up.
- `base_filters` should be an `OrderedDict`, not an `odict_items`. Is something overriding `base_filters`?

[2016-11-14 22:35] dangusev commented on #560
Sorry, my bad). I have a lot of code like this:
[code]
When copy.deepcopy() is being called on self.base_fields it tries to pickle choices of fields and fails, because choices have type dict_items.

[2016-11-14 22:35] #560 closed

[2016-11-15 09:38] sanjredfield opened #561 "Potential issue using 'together' filterset"
When using the 'together' filterset, I find that I cannot send a query with parameter value 0. For example, suppose my filter defines:

[code]

A request with params { 'balance': 0, 'total': 10 } will return empty, even if there is a valid match. The issue seems to be in the get_full_clean_override function within filterset.py, specifically this line:

[code]

One possible fix is to change this li

[2016-11-15 14:10] carltongibson commented on #561
OK. Yes. There's always issues with _Falsey_ values... First thing is a test case on this but I'd happily review a patch.

[2016-11-15 17:14] rpkilby commented on #561
Would `None` or `filters.EMPTY_VALUES` be a more appropriate check?

[2016-11-15 17:33] cancan101 opened #562 "TemplateDoesNotExist: django_filters/rest_framework/form.html"
I am getting:
[code]
I have:
[code]

Perhaps the issues was introducted by?: https://github.com/carltongibson/django-filter/commit/48f35b2b18f942a912ed25b43fcdf6de065c686c

[2016-11-15 17:36] cancan101 commented on #562
I also have this which might be causing issues:
[code]

[2016-11-15 17:38] cancan101 commented on #562
Looks like the issue has been fixed: https://github.com/philipn/django-rest-framework-filters/pull/129

[2016-11-15 17:38] #562 closed

[2016-11-16 05:22] sanjredfield commented on #561
Happy to submit a patch. Whether we should use `None` or `filters.EMPTY_VALUES` depends on the desired behaviour. For example, for a field which may be blank, is setting the filter value to '' sufficient for a togetherness check? In my opinion, a check against None is more appropriate, because it maps directly to the case where the filter is not specified at all.

[2016-11-16 07:51] carltongibson commented on #561
What happens if we combine `FieldX` with `FieldY`? What happens if we want to allow the `blank` value? Etc.

First thing is to think through the obvious combinations and set up simple test cases for those.

Then I suspect the fix will be easy enough. (Either that or impossible 😀)

[2016-11-17 15:03] sanjredfield commented on #561
Thank you for the guidance, I will set up some test cases.

[2016-11-17 15:07] carltongibson commented on #561
@sanjredfield Cool. Feel free to open a PR to solicit feedback

[2016-11-17 16:32] Sahloul opened #564 "django_filter v1.0.0 incompatibility with models.ImageField"
To to django_filter v0.15.3 everything was fine, but once upgraded to django_filter v1.0.0, filtering models.ImageField started failing with error:

Although I already have:
[code]

[2016-11-17 16:44] kevin-brown commented on #564
What is your expected behaviour for filtering on an `ImageField`?

[2016-11-17 17:20] rpkilby commented on #564
Hi @Sahloul - where are your `filter_overrides` defined? The option has been moved from the `FilterSet` class to `FilterSet.Meta` (migrations [docs](https://django-filter.readthedocs.io/en/latest/migration.html#move-filterset-options-to-meta-class)).

[2016-11-18 06:15] #564 closed

[2016-11-18 18:01] tarkatronic opened #567 "Import of rest_framework backend can fail"
In the DRF docs, they give an example which looks like:

[code]

This does not work, however, with the way the `django_filters/__init__.py` is set up. Using this example, I get:

`AttributeError: 'module' object has no attribute 'rest_framework'`

I have found a fix for it, by adding the following to `django_filters/__init__.py`:

`from . import rest_framework`

[2016-11-18 19:45] carltongibson commented on #567
Yeah. That's probably right. Fancy doing a PR?

[2016-11-18 19:49] tarkatronic commented on #567
Sure thing, I'll have it to you shortly.

[2016-11-18 19:56] rpkilby commented on #567
There is a problem in that the `rest_framework` sub-package has a dependency on DRF. If DRF isn't installed, then `django_filters` will not be importable.

One possible way to get around this is to add a `compat.rest_framework` check, and then only import the `rest_framework` sub-package if it passes.

[2016-11-18 19:59] rpkilby commented on #567
Alternatively, the docs could be updated to include the correct import

[code]

[2016-11-19 13:21] carltongibson commented on #567
I think `import django_filters` is my preferred API.

Yes. This.

[2016-11-22 14:13] blueyed commented on #518
This is what I came up with:
[code]

[2016-11-22 23:11] seyhuns opened #571 "Meta inheritance for FilterSet"
I wonder if it makes sense to be able to inherit from a base ```FilterSet``` because I want to be able to change the ```form``` that I'm using for validation.

Comparing to Django, it is something like this:
https://docs.djangoproject.com/en/1.10/topics/db/models/#meta-inheritance

[2016-11-23 08:15] rpkilby commented on #571
Could you provide a usage example of what you're looking to do here? It's not entirely clear to me what is not currently possible w/ the `Meta` class. The following should work:

[code]

[2016-11-23 18:45] seyhuns commented on #571
Yes you example is working fine, sorry about it.

[2016-11-24 05:17] #571 closed

[2016-11-24 19:52] marcinn commented on #567
Why django_filters have references to DRF and Crispy? Both aren't a dependecies. Adapter for DRF should be provided inside DRF or some DRF' plugin/extension.

Why? AFAIK django_filter is not an DRF's extension and there are other REST frameworks/libraries.It is not reasonable to include their adapters here. Why DRF is an exception? Same notes for Crispy.

[2016-11-25 07:45] carltongibson commented on #567
@marcinn Neither DRF nor Django-Filters **depend** on each other. There is an **optional** combined usage.

That code used to live in DRF. It now lives in Django-Filters. That's all.

Why move? Less surface-area for DRF and easier integration for Django-Filter related fixes. e.g. [`django_filters.rest_framework.filters.BooleanFilter`](https://github.com/carltongibson/django-filter/blob/develop/dja

[2016-11-25 07:45] #567 closed

[2016-11-28 16:12] xuhcc opened #575 "Using global strictness setting"
It is not possible to define FILTERS_STRICTNESS setting without importing the django_filters package into the settings module.

However, when I do import, the following error occurs:

[code]

python 3.5
django 1.10
django-filter 1.0.0

[2016-11-28 19:39] rpkilby commented on #575
Hi @xuhcc - for the short term, you can use the legacy `True`/`False`/`"RAISE"` values.

[2016-12-01 16:22] #575 closed

[2016-12-01 23:52] charettes opened #578 "rest_framework.DjangoFilterBackend.to_html crashes with multiple DjangoTemplate backends"
When multiple `DjangoTemplate` backends are configured using the `TEMPLATES` setting Django isn't able to determine a default engine when [instantiating a `Template` engine without passing an `engine` kwarg](https://github.com/carltongibson/django-filter/blob/fb5f4d9e190eb46bc516a77b4961519eda8ee73c/django_filters/rest_framework/backends.py#L88).

I think this should be fixed by moving the content

[2016-12-01 23:54] charettes commented on #578
I think this was overlooked when #500 was fixed.

[2016-12-02 00:04] charettes commented on #578
Another alternative could be to define both the template files and keep the inlined versions around so the rare users with this issue could add `django_filter` to their `INSTALLED_APPS` and be done with it.

I'm not sure why you want to avoid having users put `'django_filter'` in their `INSTALLED_APPS` tho, it's a common requirement of third-party apps.

[2016-12-02 07:53] carltongibson commented on #578
@charettes Any chance you could put together a failing test case for this? (It's not something we cover currently.)

[2016-12-05 05:59] Andrew-SK opened #579 "queryset.distinct() called before filtering."
https://github.com/carltongibson/django-filter/blob/master/django_filters/filters.py#L173

It looks like `qs.distinct()` is called before the filter is applied. I've managed to get duplicate models in the returned queryset.

I apologise if this is just me not understanding the code correctly. I will test properly once I get home from work.

[2016-12-06 16:08] rpkilby commented on #579
Hi @Andrew-SK. The order of the `distinct()` and `filter()` calls should be irrelevant. Are you also ordering by a related field? See first note in thed [docs](https://docs.djangoproject.com/en/1.10/ref/models/querysets/#distinct).

[2016-12-06 19:04] tjwalch opened #581 "Use initial values to filter"
If filters have initial values these were used in previous version as an initial filter.
In 1.0 they are not used. Either this is a regression from 0.15.3 or a change in behaviour that needs to be documented.

[2016-12-06 19:08] rpkilby commented on #581
Hi @tjwalch - if you have usage questions, I'd recommend asking them on stack overflow with the [`django-filter`](http://stackoverflow.com/questions/tagged/django-filter) tag.

[2016-12-06 19:13] tjwalch commented on #581
This is not a usage question. I'm reporting something that I believe is an issue. Something that used to work and now doesn't and I can't find any documentation stating that it is supposed to have changed

[2016-12-06 19:15] tjwalch commented on #581
Personally I get along just fine with 0.15.3 but if were my package I would want to know

[2016-12-06 19:23] rpkilby commented on #581
Sorry - jumped the gun on the response (description was initially empty, should have waited for an update).

For context, this was changed in #490.

[2016-12-06 20:32] rpkilby commented on #581
A section should probably be added to the migration docs explaining the change:
- Using initial values as defaults is not generally correct (this would be inconsistent with how Django uses initial values in forms.)
- Default values are generally discouraged, since they prevent a user from filtering by empty values or from skipping filtering on a field (there is a reason Django does not provide a m

[2016-12-06 22:09] tjwalch commented on #581
Thank you. I did an override of `qs` instead but your suggestion is nicer.

[2016-12-06 22:52] Andrew-SK commented on #579
Hi @rpkilby. Thanks for the response.

You are correct, I'm not ordering by a related field only filtering across a many to one relationship. Regardless I'll close this issue.

[2016-12-06 22:52] #579 closed

[2016-12-09 15:49] dezinfo opened #583 "Using with JSONField"
How I can define fields that I can use as filter by  JSONField

now I define in FilterSet
`MarkaMoto = django_filters.CharFilter(name='attributes__MarkaMoto__value',lookup_type='contains',distinct=True)`

but it doesn't work. Morethere if I use lookup_type='icontains' I get an error

[code]
SQL

[code]

In the same time if I try to get data from model directly there isn't any problem

`Goods.objec

[2016-12-09 17:10] rpkilby commented on #583
Hi @dezinfo - I'm not sure what's happening with your particular case, but here are a few pointers:
- `name` and `lookup_expr` are used to create the complete expression passed to `filter()`. The `name` should consist of field parts, while `lookup_expr` should contain transforms and a lookup (The first section in the [lookup API reference](https://docs.djangoproject.com/en/1.10/ref/models/lookups/

[2016-12-09 17:59] rpkilby commented on #578
Yeah, that was my doing :sweat:. It was in part trying to avoid what seemed like an unnecessary requirement (after all, it's just two small templates), but also to avoid packaging mishaps (the tests had previously passed, but the distributed package didn't include the template files). That said, I had completely forgotten that the package includes translations, which requires hooking into `INSTALL

[2016-12-09 18:02] charettes commented on #578
@rpkilby thanks a lot for working on this. I was planning to come up with a test during the weekend but you beat me to it!

[2016-12-10 06:58] dezinfo commented on #583
Thanks. Your tips helped.

[2016-12-21 07:31] sassanh opened #587 "Possibility to embed a filter in another"
Suppose that we have 2 models for example, Student and School. We have a filterset for student, for example we can query by `birthdate__gt` for example now suppose that we wanna have exact same filters for school but prefixed with `student__` so that we can query by `student__birthdate__gt`. Is it possible to somehow embed a filterset in another and make it apply to a foreignkey or manytomanyfield

[2016-12-21 08:43] carltongibson commented on #587
`Filter`'s`name` argument accepts the double-underscore to traverse relationships.

https://django-filter.readthedocs.io/en/develop/ref/filters.html#name

This should give you what you need, yes?

[2016-12-21 08:43] #587 closed

[2016-12-21 08:55] sassanh commented on #587
@carltongibson unfortunately not. I'm already using double-underscore. The problem is suppose that `Student` has 15 filters, currently I have to rewrite all those 15 filters in `School` filter set and prefix them with `student__` and rewrite all method filters, if I use these 15 filters in 10 other filtersets I should rewrite it 10 times. If something changes in main filterset I should take care o

[2016-12-21 10:23] carltongibson commented on #587
Hmmm. OK. The short answer is, there's nothing built in. **But** you should be able to do something with a Mixin or such.

[2016-12-21 10:53] sassanh commented on #587
I see, so can we consider this issue as a feature request? Something like `django_filter.filters.EmbedFilter(SomeFilterSet, prefix='pre', reltaed_filed='the_field')`

[2016-12-21 22:49] rpkilby commented on #587
Hi @sassanh - have you seen [django-rest-framework-filters](https://github.com/philipn/django-rest-framework-filters)? Even if you're not using DRF, the `FilterSet` and `RelatedFilter`should still be usable.

[2016-12-21 22:56] rpkilby commented on #587
Side note - I currently maintain the package and am in the process of refactoring how related filtersets work. I'd recommend reading through the open issues to see if the package works for you in its current state.

Notably, there are issues 99 and 100 and the filtering behavior when [spanning multi-valued relationships](https://docs.djangoproject.com/en/1.9/topics/db/queries/#spanning-multi-value

[2016-12-22 02:57] sassanh commented on #587
@rpkilby oh great, I see it has many other nice features too. I can postpone this part of project till version 1.0 is out. Is there any expected time for version 1.0?

[2016-12-22 06:17] rpkilby commented on #587
No timeline, although I now have some spare time on my hands that can be put towards the project.

[2016-12-22 07:58] carltongibson commented on #587
The other approach is to construct the `FilterSet` dynamically. Take inspiration from [`modelform_factory`](https://docs.djangoproject.com/en/1.10/topics/forms/modelforms/#modelform-factory-function) — or similar.

You have a base filter set and then add the additional fields calling `type`...

    extra_filters = { ... }   # Dict of Filters
    extended_filterset = type('ExtendedFilterSet', (Base

[2016-12-22 08:20] sassanh commented on #587
thanks @carltongibson in case django-rest-framework-filters wasn't ready at the time when I'm going to implement filters I can use this backup plan.

[2016-12-22 20:02] dezinfo opened #589 "'Filter' object is not iterable"
It worked good but recently had appeared error **"'Filter' object is not iterable"** when I try to use FilterSet in my ListView

Django 1.10.3

@ I deploy my project to webserver and there isn't any problem with filter. Error appears only on my local workstation. I haven't any ideas what to do. Recently I updated  my  PyCharm and solved issue with psycopg2

http://stackoverflow.com/questions/32978

[2016-12-22 20:08] #583 closed

[2016-12-22 23:21] rpkilby commented on #589
My guess is that your webserver is running django-filter 0.15.x, and your local workstation is running the 1.0 release. The version discrepancies would explain the differing behavior since there were a number of deprecations introduced in 0.15.x that were finalized/removed in the 1.0 release. One of these deprecations is that [`FilterSet`s no longer proxy `QuerySet` methods](https://django-filter.

[2016-12-23 10:46] fkdeboer opened #590 "Impossible to overwrite filter attributes in child class"
Maybe we are missing something, but why does this happen?

[code]

Expected result:

* rendering a FooFilter1 does show a filter on key.
* rendering a FooFilter2 does not show a filter on key.

Result:

* both FooTable2 and FooTable2 show a filter key.

Are we doing something wrong? Is this a bug or just very unpythonic? Feedback welcome.

[2016-12-23 16:05] rpkilby commented on #590
This doesn't seem unreasonable. A quick test shows that Django's forms support this behavior, although DRF's serializers do not.

[2016-12-23 17:01] rpkilby commented on #590
btw, see #591.

[2016-12-30 09:16] fkdeboer commented on #590
for the moment, this works for us as a temporal solution:

`
class FooFilter2(FooFilter):
    def __init__(self, *args, **kwargs):
        super(FooFilter2, self).__init__(*args, **kwargs)
        del self.filters['key']

`

[2017-01-04 08:48] fkdeboer opened #594 "queryset overwritten in FilterView"
Hi,
Using the FilterView as follows (for a table), is not working as expected, as the queryset gets overwritten:

[code]

 I would expect that the queryset provided at instantiation of the filter is used, but it gets overwritten somewhere in the FilterView by a generic queryset of the model given in the filter (Foo.objects.all() ), losing the annotation and values.
overwriting self.get_queryset()

[2017-01-04 16:53] rpkilby commented on #594
Hi @fkdeboer. Are you're mixing `FilterView` with `SingleTableView` from django-tables2? If so, could you provide a more complete sample of your view class? Depending on class hierarchy, it's possible that `get_table_data()` isn't actually called.

[2017-01-04 18:52] fkdeboer commented on #594
I'm using SingleTableMixin from django-tables2 as follows:

[code]

the SpeciesQueryset with_name() annotates 'name' to the queryset.
The above code works for me correctly.
However, I would expect that I can provide the queryset directly in
` self.filter = self.filterset_class(self.request.GET, queryset=species) `
which does not work without the` get_queryset`. I thought this was because of the fi

[2017-01-04 20:56] rpkilby commented on #594
I see what's happening - your view is creating two different filtersets.

- [`FilterView.get()`](https://github.com/carltongibson/django-filter/blob/1.0.1/django_filters/views.py#L59-L67) constructs the first filterset with keyword args from `get_filterset_kwargs()`.
- `get_filterset_kwargs()` gets the `queryset` kwarg from `get_queryset()`.
- [`get_queryset()`](https://github.com/django/django/bl

[2017-01-05 01:09] mackeyja92 opened #595 "How to do m2m AND filters?"
I want to filter the `User` model by `groups`. Specifically, I want to find users that belong to multiple groups. I am using DRF and the default filter class there with the `groups` field as a filter field.  `?groups=3&groups=6` returns all the Users that are in group 3 OR group 6. How do I make it so I can do an AND there? I tried `?groups=3,6` and `?groups=[3,6]` but with no success.

[2017-01-05 05:23] rpkilby commented on #595
`ModelMultipleChoiceFilter` have a `conjoined` property that enables AND filtering.

[2017-01-05 08:23] fkdeboer commented on #594
@rpkilby
Ryan, thanks a lot! It's clear to me now.

[2017-01-05 08:23] #594 closed

[2017-01-05 19:10] shapeng42 opened #596 "Question about turn on warning during migration to 1.0"
Hi, there. I have this naive question but I'm new to Django, I cannot find the answer anywhere.

In the document, there is this statement:

My question is how can I turn on the warnings to see them on console?

Thanks
Shawn

[2017-01-05 19:18] rpkilby commented on #596
You need to enable warnings. You can either do this with the `-W` flag ([docs](https://docs.python.org/3.6/using/cmdline.html#cmdoption-W)) or by setting the `PYTHONWARNINGS` environment variable. If you're trying to check for deprecation when running your test suite, you could do the following:

[code]

The above would print all warnings once when they first occur. This is useful to know what vio

[2017-01-05 19:38] mackeyja92 commented on #595
Oh, I missed that in the docs! Thanks @rpkilby

[2017-01-05 19:38] #595 closed

[2017-01-05 20:35] shapeng42 commented on #596
Thanks!

[2017-01-05 20:35] #596 closed

[2017-01-06 08:49] carltongibson commented on #589
Assuming @rpkilby's response is the correct one here. If not we can re-open.

[2017-01-06 08:49] #589 closed

[2017-01-06 08:51] carltongibson commented on #578
Closed by #580

[2017-01-06 08:51] #578 closed

[2017-01-06 09:02] #590 closed

[2017-01-06 09:09] carltongibson commented on #581
data = data.copy()

[2017-01-06 09:11] carltongibson commented on #581
This is a bit more general than _migration_ I think. It would go well in [_Tips and Solutions_](https://django-filter.readthedocs.io/en/develop/guide/tips.html) perhaps.

[2017-01-08 09:36] amirkarimi opened #597 "Can't render filter form"
I have a model named `Visit` and created a filterset named `VisitFilter`:

[code]

View:

[code]

Template:

[code]

But I get an empty form. When I change `{{ filter.form.as_p }}` to `{{ filter.form }}` I get the following error:

[code]

The point is that rendering a specific field works. For instance `{{ filter.form.visit_user }}` renders the visit_user textbox correctly.

[2017-01-08 09:52] amirkarimi commented on #597
The problem was `visit_device_id` which is a foreign key.

[2017-01-08 09:52] #597 closed

[2017-01-09 18:44] RadoRado opened #599 "Ordering by non-model fields"
I was following the docs here - https://django-filter.readthedocs.io/en/latest/ref/filters.html#adding-custom-filter-choices trying to make some custom ordering by non-model field.

Sadly, got the following error: `AttributeError: 'SomeCustomOrdering object has no attribute 'choices'`

Am I missing something? Copy-pasted the example code.

[2017-01-09 18:47] rpkilby commented on #599
Hi @RadoRado - could you post the complete stack trace? Also, I think this is a type in the docs. Try:

[code]

[2017-01-09 18:52] RadoRado commented on #599
@rpkilby `self.extra['choices']` did the trick.

Now, I have to resolve the `"Cannot resolve keyword 'relevance' into field"`

It would be great if there's a full example of this working :panda_face:

[2017-01-09 18:55] RadoRado commented on #599
@rpkilby Actually my bad - had a property called `relevance` and custom queryset defining a column called `relevance`. Renamed it to `relevance_column`, and it started working. Thanks for the quick input! :+1:

[2017-01-09 18:56] rpkilby commented on #599
@RadoRado - no problem. Just to recap, the only issue is `self.choices` => `self.extra['choices']`, right?

[2017-01-09 18:57] RadoRado commented on #599
@rpkilby On `django-filter` side of things - yes!

Should I try to PR the docs with a complete example?

[2017-01-09 19:00] rpkilby commented on #599
Don't worry about it - already submitted a patch.

[2017-01-09 19:00] rpkilby commented on #599
Thanks for pointing out the docs issue!

[2017-01-09 19:01] RadoRado commented on #599
@rpkilby Thanks for being maintainer of this awesome library! :beers:

[2017-01-09 19:28] RadoRado commented on #599
@rpkilby Actually, one more thing:

[code]

In the code above, `value` is a list of one element, not a string. Again, I can be doing something wrong here.

[2017-01-10 08:45] #599 closed

[2017-01-10 09:09] RadoRado commented on #599
@rpkilby @carltongibson Can you take a look at the example above? Is this the desired behaviour?

[2017-01-10 09:17] RadoRado commented on #599
Here's the working example:

[code]

[2017-01-10 09:18] carltongibson commented on #599
@RadoRado [From the docs](https://django-filter.readthedocs.io/en/develop/ref/filters.html#orderingfilter):

i.e. Yes, it's the desired behaviour. `value` is a list. In your case it just has the single element.

[2017-01-10 10:15] RadoRado commented on #599
@carltongibson Maybe we should change the example from here then - https://django-filter.readthedocs.io/en/latest/ref/filters.html#adding-custom-filter-choices - since it relies on the fact that `value` is a single element.

[2017-01-10 10:16] carltongibson commented on #599
Yep. Sounds right.

[2017-01-14 13:30] dbinetti opened #603 "`strict` setting being honored on DRF?"
I'm afraid I don't understand enough to write a proper test, but here is how to reproduce.

[code]

Then, `GET /model?foo=bar`.  I expect a 500, but I get a 200 with all records.  A `GET /model?title=batbaz` produces the expected result.

Thanks...

[2017-01-14 13:35] dbinetti commented on #603
Just a quick update that I was originally on version 0.15.3, and have since upgraded to 1.0.1.  However, merely change the import above from `from django_filters.filterset import STRICTNESS` to `from django_filters import STRICTNESS` and you'll get the same behavior on v 1.0.1.

[2017-01-14 19:05] carltongibson commented on #603
Yeah. This is expected behaviour. The FilterSet will only apply `STRICTNESS` for query parameters that it's expecting to handle, i.e. its `fields`.

This has to be the case: e.g. I want to add pagination, `?page=2` 🔥 — you get this idea, add your own examples...

If you want this behaviour you could, say, override `qs` to check the `self.data.keys()` and `raise` there.

[2017-01-14 19:05] #603 closed

[2017-01-16 07:50] xtrinch opened #605 "Contains / icontains filter not working"
[code]

[code]

[code]

Client filter is basically ignored. If I replace icontains with exact, it works.
But I cannot get contains or icontains to work on any fields.

Requirements.txt:

[2017-01-16 08:03] carltongibson commented on #605
Hi @xtrinch.

From the description I can't see an issue. Can I advise that you try putting a breakpoint in your `FilterSet`'s `qs` property and step through to see what's happening.

If you could narrow it down to a simple test case that too would help.

`Filter` just takes the value and builds a lookup for the ORM so the question is, _Where's that going wrong?_

[2017-01-16 08:19] rpkilby commented on #605
Hi @xtrinch - could you post a sample URL with query params? My guess is that you're querying `/api/orders?status=foo` instead of `/api/orders?status__icontains=foo`. There is a note in the [`Meta.fields`](https://django-filter.readthedocs.io/en/develop/guide/usage.html#generating-filters-with-meta-fields) docs that explains the slightly different behavior of `exact` lookups.

[2017-01-16 08:33] xtrinch commented on #605
@rpkilby Thanks. I was under the impression that the first item in the array becomes the default filter - I see I was wrong :)

[2017-01-17 10:31] #605 closed

[2017-01-20 01:45] edmorley opened #607 "Tests are failing under Django 1.11"
#606 is adding Django 1.11 to the testing matrix, but with the result ignored since the tests are currently failing:
https://travis-ci.org/carltongibson/django-filter/builds/193589440#L294

eg
[code]

[2017-01-20 01:49] edmorley commented on #607
Though it's worth noting that d-r-f master has Django 1.11 marked as "failures allowed" too, so this likely will need to wait until after they have added support.

[2017-01-20 07:38] carltongibson commented on #607
Hey @edmorley.

Yep. The `..._ptr...` failures are a DRF issue. https://github.com/tomchristie/django-rest-framework/issues/4574

https://github.com/carltongibson/django-filter/pull/604 takes on the widget failures.

Everything else has already been dealt with. 🤞🏽we shall be good to go shortly

[2017-01-20 16:18] lingxiaoyang commented on #596
Hello there,

I was having the same problem during an update of dependencies. It is not mentioned in the migration instructions, and I had to look into the code of v0.15 to infer the reason that `warnings.warn(msg)` showed a message while `warnings.warn(msg, DeprecatedWarning)` didn't.

Could you please add a note for this in the docs?

[2017-01-21 03:16] whoisearth opened #609 "TypeError: key_material must be bytes."
I was previously using Python 2.7 with django-filter 0.14.0 and the following code worked fine:

[code]

Now I'm on Python 3.6 using django-filter 1.0.1 and I've updated my filter:

[code]

I'm using another package which is encrypting the id so what my method is doing is taking the hash and decrypting it to an integer.  Was working in 0.14.0 but doesn't seem to work in 1.0.1?

I should stop codin

[2017-01-21 03:53] whoisearth commented on #609
You can delete this ticket.  In digging more the problem isn't with django-filter it's something with my external code I'm trying to figure out right now.

[2017-01-21 03:53] #609 closed

[2017-01-23 09:55] joetsoi opened #610 "`filter_class` and `filter_fields` in rest framework backend"
Is there a use case for using both `filter_class` _and_ `filter_fields` when using the rest framework integration?

    class ProductList(generics.ListAPIView):
        queryset = Product.objects.all()
        filter_backends = (filters.DjangoFilterBackend,)
        filter_fields = ('category', 'in_stock')
        filter_class = ProductFilter

Someone might define both and I think in all cases, th

[2017-01-23 11:12] orf commented on #610
I think this should throw an error, clearly both are not supported and the precedence is seemingly arbitrary.

[2017-01-23 11:43] joetsoi commented on #610
I agree on error, but I worry about breaking everyone's code suddenly which is why I suggested warning.

[2017-01-24 12:58] carltongibson commented on #610
`filter_class` trumps `filter_fields`. I'm happy with that. I'd take a warning on `filter_fields` if both were defined. (But I'm a bit _Meh_ TBH)

[2017-01-24 14:15] ygwain opened #611 "BooleanFilter with LinkWidget"
BooleanFilter with LinkWidget renders nothing:
[code]

[code]

I use Django 1.10, DjangoFilter 1.0.1

[2017-01-24 14:21] carltongibson commented on #611
`LinkWidget` needs some `choices`. Here it's not getting any.

Possibly:

* Improve usage docs
* Provide some way of automatically generating `choices` here
* ...

[2017-01-24 14:28] ygwain commented on #611
Thanks for your input. IMO second option would be most intuitive.

[2017-01-24 14:30] carltongibson commented on #611
@ygwain Cool. I'm always happy to review a Pull Request 👍

[2017-01-25 22:07] rpkilby commented on #611
I don't think the automatic generation of choices is really possible here. The widget would need to generate different sets of choices for different fields (eg, `BooleanField` and `NullBooleanField`), however the widget is unaware of the model field so it has nothing to generate the choices from.

Improving the docs is probably the way to go.

[2017-01-26 06:32] carltongibson commented on #611
I was thinking a subclass for the specific case in userland code, but beyond that I agree there's not much to be done.

[2017-01-27 01:47] charettes commented on #578
Related [Django ticket](https://code.djangoproject.com/ticket/27359) that proposes to allow specifying a default DTL backend.

[2017-01-28 10:04] egnartsms opened #613 "Rest Framework filterset & django.forms.ValidationError"
When using Django Rest Framework filterset (*django_filters.rest_framework.FilterSet*) with "strict = 'RAISE'" meta option, *django-filter* raises usual ValidationError from Django instead of DRF ValidationError. This has the effect that default DRF exception handler does not catch this exception, and it results in a 500 response.

[code]

[2017-01-28 10:23] carltongibson commented on #613
Yeah it does. (That's because the exception is raised during the FilterSet's form validation.)

If you set `strict='RAISE'`you need to be prepared to handle the exception. [See here in the DRF docs for guidance](http://www.django-rest-framework.org/api-guide/exceptions/#custom-exception-handling).

[2017-01-28 14:04] egnartsms commented on #613
Thanks for quick response!  Once there's a Rest Framework-specific filterset class, isn't that intuitive to expect it to conform to Rest Framework conventions? In principle, it is possible to do smth like that:
[code]

What do you think about such a change?

[2017-01-28 15:16] carltongibson commented on #613
I'm happy for users to define such a class in their own projects.

I'm not sure it should be the default.

This kind of thing always comes up on DRF. "Handle all exceptions automatically". It's always rejected there. "We handle the common cases, it's up to the user to deal with the project specific edge cases". I tend to agree.

I'd certainly take an example with discussion added to the Tips and T

[2017-01-28 18:49] egnartsms commented on #613
OK, thanks for your comments!

[2017-01-31 17:00] weasteam opened #614 "How to pass lookup_expr argument to method"
This is not a issue, but I really have no idea where to get the help.

I am creating a custom lookup and hoping to interact the lookup_expr with the method I created, but have no clue how to do that. I have checked all documentation at http://django-filter.readthedocs.io/en/latest/ref/filters.html#filter-method, but result in nothing.

Any tips would be greatly appreciated:

Specify a field:

`fie

[2017-01-31 18:28] carltongibson commented on #614
Hi @weasteam — the mailing list **is** appropriate place — but follow-up may not be instant. (I saw your mail.)

Since you're here, I'll just say as way of pointer:

* The `fields` dict is instead of declaring the field by hand (not as well)
* Your declared field and method look fine, but...
* You'll need to use something like a MultiWidget to get both the count value and the lookup type from the

[2017-01-31 18:28] #614 closed

[2017-02-05 16:49] decibyte commented on #567
I'm getting some unexpected behavior around this. I _do_ have DRF installed. But `rest_framework` gets set to `None` anyway. If I remove the `try...except`, things work as expected, without any `ImportError`s.

Anyone have an idea what is going on?

[2017-02-05 17:55] carltongibson commented on #567
Hmm. No idea at all at first glance. 😐

Can you put a breakpoint in and examine the environment where the import is failing? (Hopefully that reveals more)

[2017-02-05 18:46] SebCorbin opened #615 "HiddenWidget for OrderingField result in empty result with bizarre default value"
I defined an OrderingFilter with HiddenInput and when displaying this field once the form has been submitted, the field render as `<input id="id_o" name="o" type="hidden" value="[]">`

Which is problematic because when submitted once again, there won't be any result due to this default value of `[]`.

I believe this is due to the `BaseCSVWidget.value_from_datadict` method that does a little too mu

[2017-02-06 08:02] carltongibson commented on #615
`value_from_datadict` is not involved in rendering the widget. (It comes in when handing the GET parameter pulled from the query string.)

If you could produce a failing case for [`CSVWidgetTests`](https://github.com/carltongibson/django-filter/blob/develop/tests/test_widgets.py#L177-L197) that would help.

I'm wondering if you don't need to create a `HiddenCSVWiget` subclass, in parallel to `CSVW

[2017-02-06 08:19] decibyte commented on #567
Thanks for a quick response. I'm having a tight deadline right now, but I'll return to the issue when I find some time for this.

[2017-02-06 08:22] #611 closed

[2017-02-06 09:21] SebCorbin commented on #615
Added a pull request with the test. When debugging, I found out that `value_from_datadict` is called twice, once for retrieving the value for the _clean\_*_ process and a second time for the default value when rendering the field.

[2017-02-07 13:34] stephenfin opened #618 "Can't use mixin pattern"
This is probably something that needs a simple note in the doc, but I'll post it here before submitting a PR.

I wrote a number of `FilterSet`s that all defined a `before` and `since` parameters. To minimize duplication, I put these in a mixin.

[code]

# Expected Result

I expected to be able to filter series using the `since` and `before` filters.

# Actual Result

To my surprise, these weren't

[2017-02-07 15:51] rpkilby commented on #618
Hi @stephenfin - have you tried inheriting from `FilterSet` in your mixin instead of from `object`? This [test](https://github.com/carltongibson/django-filter/blob/1.0.1/tests/test_filterset.py#L487-L506) indicates that this should work, although maybe the test is broken? Either way, the expected behavior seems reasonable.

[2017-02-07 21:53] stephenfin commented on #618
Thanks for the tip, @rpkilby - that works correctly when I subclass from `FilterSet` instead. I'm surprised this is necessary though. Is that a bug or a feature? :smile:

[2017-02-07 23:40] jmgamboa opened #619 "When does django filter execute in relation to the get_queryset?"
Hi team. Currently using django-filter on several of my apps. I've come to the point where I need to optimize but am having trouble determining whether my filter or the get_queryset is the issue.

Can anyone inform me of the pipeline in regards to django custom filter lookups? I suspect a django filter occurs after a get_queryset as it returns a queryset. Can someone confirm this?

[2017-02-07 23:47] rpkilby commented on #618
`FilterSet`s have comparable behavior to DRF's serializers and Django's models. I'm not sure if allow this kind of mixin behavior.

[2017-02-08 00:15] rpkilby commented on #618
So, the current behavior is expected. The relevant code in django-filter is [here](https://github.com/carltongibson/django-filter/blob/b094c3f5a871f6635cfa81dbc30834bed14be1c6/django_filters/filterset.py#L105-L111), which is based on the same code from [DRF](https://github.com/tomchristie/django-rest-framework/blob/773b68e188bd83f5f005b47eacb83b3d6b22e77b/rest_framework/serializers.py#L306-L312),

[2017-02-08 00:22] rpkilby commented on #619
Yes, the queryset returned from `get_queryset()` is generally passed to the filterset. When this happens will depend on the view code in question.

Can you provide more detail as to what you mean? If you're referring to custom lookup expressions, those are processed at the same time as the builtin lookup expressions.

[2017-02-08 00:29] jmgamboa commented on #619
@rpkilby ok thanks. That is what i tested in my code and it seems to agree. In terms of the pipeline, I meant that I imagined the output of the get_queryset would be passed into the filterset, then that queryset would essentially be passed onto the next function or another operation would occur. Thanks for the quick response!

[2017-02-08 00:34] rpkilby commented on #619
This will depend on the view code. If you're using the builtin [`FilterView`](https://github.com/carltongibson/django-filter/blob/70e15487befbfe3adc051e7ccb8dc662c20a0231/django_filters/views.py#L61-L67), then this is immediately rendered as part of the template's context. If you're using DRF, then the resulting queryset may be processed by other filter backends.

[2017-02-08 00:49] #619 closed

[2017-02-08 01:22] rpkilby commented on #610
I'm kind of ambivalent about this. The [doc section](https://django-filter.readthedocs.io/en/develop/guide/rest_framework.html#using-the-filter-fields-shortcut) is terse, and I think it's pretty clear that `filter_fields` is a shortcut/alternative to `filter_class`.

[2017-02-08 08:27] #615 closed

[2017-02-08 08:35] carltongibson commented on #618
It's because you need the metaclass behaviour. It affects all these _declarative syntax framework_ types.

Another example, similar to yours, [_Model Utils_' `TimeStampedModel`](https://github.com/carljm/django-model-utils/blob/master/model_utils/models.py#L18-L29). It's intended to be used as a mixin but must inherit from `models.Model` in order for the fields to be registered.

(@rpkilby: Good l

[2017-02-08 08:35] #618 closed

[2017-02-08 08:50] carltongibson commented on #610
This isn't something I'm going to allocate bandwidth to. As I said, I'd take a PR adding a warning but it's **marginal** and I don't consider it an active issue.

In general I'd be happy to see some of these shortcuts pulled out into factory functions, so in this case you'd do something like:

    filter_class = filter_factory(fields=[...])

... but that's not a request, just, rather, giving you t

[2017-02-08 08:50] #610 closed

[2017-02-08 10:36] rpkilby commented on #618
@carltongibson - yep. My understanding is that django-filter's metaclass was based on Django Forms, but some of this was changed in #550, which draws from DRF's serializers.

[2017-02-08 11:53] joetsoi commented on #610
no problem, I wasn't requesting you to make the change either, if I find the time i'll consider making a pr

[2017-02-08 14:06] Alexerson opened #621 "Need to track core-api changes"
When upgrading coreapi to 2.2.x, I got the following error:
`Exception Value: __new__() got an unexpected keyword argument 'description'`
in
`File "lib/python3.5/site-packages/django_filters/rest_framework/backends.py:104" in get_schema_fields`

https://github.com/core-api/python-client/issues/117

[2017-02-08 15:12] carltongibson commented on #621
@Alexerson Thanks for the report. Does the new version solve this (for now)? Do we need to do anything?

[2017-02-08 16:23] carltongibson commented on #618
@rpkilby Sure. The `get_declared_filters` logic is unchanged. (It just moved.) They key point is that _that_ is how filters get passed to subclasses...

[2017-02-08 16:25] rpkilby commented on #621
@carltongibson The new version fixes this for the short term. However, they're deprecated and we'll eventually need to create a `coreschema.Schema` instead.

[2017-02-08 16:27] carltongibson commented on #621
OK. I'll leave this open. Ta!

[2017-02-08 18:45] oliver-zhou commented on #567
When trying to add django_filters to INSTALLED_APPS in a DRF based project, I get an import issue that doesn't exhibit itself when imported normally.  django.core.exceptions.AppRegistryNotReady: Apps aren't loaded yet.

[2017-02-09 07:49] carltongibson commented on #567
@oliver-zhou I guess that it's unlikely to be related to this issue. Most likely you're accessing some model attribute in your FilterSet definition — which is processed at import time **before** the AppRegistry is initialised.

You'll get a traceback. Look through it. That will point to the exact place you're getting the error. Either move the offending line so that it's called at runtime or else

[2017-02-09 19:18] carltongibson commented on #607
Looks like [the test matrix will need updating](https://github.com/carltongibson/django-filter/blob/develop/tox.ini#L4):

Fix for https://github.com/tomchristie/django-rest-framework/issues/4574 is due for 3.5.4 and [Django 1.11 + DRF 3.4 & 3.5 are still failing](https://travis-ci.org/carltongibson/django-filter/builds/200094722#L624).

[2017-02-11 09:55] #607 closed

[2017-02-16 23:14] andreroggeri opened #633 "AmbiguousTimeError when filtering DST day"
I found this issue this week because where I live the DST ends 2017-02-18 23:00.

I think the issue is on the `utils.py`

[code]

`make_aware` accepts a parameter named `is_dst` but it isn't used.

I think it's necessary to check if the timezone is on DST and pass the parameter to `make_aware`

[2017-02-17 06:35] carltongibson commented on #633
OK. Good. Time zones. 😤

First thing is a few test cases. We need some example datetimes where DST is active/inactive and we're getting the wrong result here.

(Ideally those can be embedded in a test case but just a shell transcript is fine to begin.)

Time zones. 😤

[2017-02-17 22:01] andreroggeri commented on #633
I'll see what I can do. :)

[2017-02-18 02:21] andreroggeri commented on #633
OK, I made a very simple testcase that triggers the error(It doesn't have any assert yet, I need to figure out what is the expected result). I'll try to dig more tomorrow to see if I can make a fix.

Maybe [this answer on SO](http://stackoverflow.com/questions/19774709/use-python-to-find-out-if-a-timezone-currently-in-daylight-savings-time) can help.

[2017-02-20 22:53] jhotujec opened #635 "Persistent filters"
Is there a way to make filters persistent?

What I mean by that is if I filter records inside my `ListView` and then navigate to `DetailsView` and go back to `ListView` again, I don't want my filters to reset.

Thanks!

[2017-02-21 01:51] #635 closed

[2017-02-21 10:11] adamcharnock opened #636 "Release work on Django 1.11 support"
It would be great to see a release of the work on Django 1.11 support given that the first beta has just come out ( #606 / #607 / #624 ).

Apologies if this is considered a duplicate.

[2017-02-21 10:40] carltongibson commented on #636
Hey @adamcharnock — Yes it's a duplicate 🙂

v1.0.2 is ready to go. It'll be released soon™.

Anyone testing on 1.11bX can install DF from the `develop` branch. (The ability to do one implies the ability to do the other I'd say) [Pip's VCS Support](https://pip.pypa.io/en/stable/reference/pip_install/#vcs-support)

[2017-02-21 10:40] #636 closed

[2017-02-21 10:44] adamcharnock commented on #636
Amazing, thanks @carltongibson.

I did indeed proceed against the ``develop`` branch.

[2017-02-22 08:09] gthieleb opened #637 "Reset filters"
I want to add a button with a GET action `reset-filter` that resets all filter values. I am using a generic view.

Currently I try this within the dispatch method but this does not work:

	def dispatch(self, request, *args, **kwargs):
		from django.http import QueryDict

		action = request.GET.get('action', [])
		if action == 'reset-filter':
		    request.GET = QueryDict()
		    request.META['QUER

[2017-02-22 09:29] carltongibson commented on #637
If that button was just a link to the current page without any filter params set you'd already have what you need.

[2017-02-22 09:29] #637 closed

[2017-02-22 14:32] gthieleb commented on #637
Thanks, I was overlooking the obvious!

[2017-02-22 23:09] jhotujec opened #641 "ListView -> get_context overrides filters"
I'm trying to implement `django-filters` in my project but I've hit a roadblock :/ Somehow `filter` instance is getting removed from context..

[code]

Results are still getting filtered, but don't have access to `{{filter.form}}`

Any ideas what's going on? :) thanks

[2017-02-23 06:25] carltongibson commented on #641
Well, one thing is you're not passing kwargs to the super get_context_data call. Likely that.

[2017-02-23 06:25] #641 closed

[2017-02-23 17:35] Woile opened #642 "Filter polymorphic model"
Hi guys, I'm using [django-polymorphic](https://github.com/django-polymorphic/django-polymorphic), and I was wondering what'd be the best way to filter child classes.

The docs of polymorphic say that the way to filter is by doing:
`ModelA.objects.instance_of(ModelB [, ModelC ...])`

I don't know how to integrate it with `django-filter`, should I create a custom field? Would that be the best appro

[2017-02-23 18:03] Woile commented on #642
Got it. It's as simple as defining a custom method in the `FilterSet`.
Reference if someone need in the future:
https://django-filter.readthedocs.io/en/latest/guide/usage.html#customize-filtering-with-filter-method

[2017-02-23 18:03] #642 closed

[2017-02-25 19:45] lampslave commented on #75
Is there MultiFieldFilter or similar functionality in django-filter for now?

[2017-02-25 20:04] carltongibson commented on #75
@lampslave open a new issue, describing what you're looking for, and we'll discuss there

[2017-02-25 20:12] lampslave commented on #75
@carltongibson MultiFieldFilter is already described and discussed on this page, but I couldn't see it in the docs and code :(

[2017-02-26 22:38] bene25 opened #643 "Rename OrderingFilter descending and ascend sort to native language"
Hi. How could I rename OrderingFilter descending and ascending sort to my native language?
To be more clearly I want to add to ascending sort my native word and rename descending. Thanks for helping).

For example now it:
 ('account', 'User account'),
 ('-account', 'User account (descending)'),

and I want to:

 ('account', 'Пользователь (по возрастанию)'),
 ('-account', 'Пользователь (по убыванию

[2017-02-27 04:16] yarnball opened #644 "Import error using "as filters""
I am trying to setup some basic filtering on a field in my model.

So I followed your documentation here:
https://django-filter.readthedocs.io/en/develop/guide/rest_framework.html

But did not get far as:

`from django_filters import rest_framework as filters`

Caused
`ImportError: cannot import name 'rest_framework'`

All my api files are setup in a separate folder (/api). Do I need to explicitly

[2017-02-27 04:50] yarnball commented on #644
Just needed to upgrade. I'll close this issue

[2017-02-27 04:50] #644 closed

[2017-02-27 05:01] yarnball opened #645 "TypeError on latest version"
I'm having trouble with your package. I have installed it, in a fresh virtual enviroment, yet I keep getting the TypeError as per below. That is from running it within a virtual ENV and shell.

My versions are compatible- Pyhton 3.4, Django 1.9 & DRF v3.5.

[code]

[2017-02-27 06:15] carltongibson commented on #645
You need to upgrade to 1.0.1

[2017-02-27 07:23] carltongibson commented on #645
Not this package. I think you need to check your versions and then, if that doesn't fix it, [head over here](https://github.com/philipn/django-rest-framework-filters)

[2017-02-27 07:23] #645 closed

[2017-02-27 09:12] bene25 commented on #643
Solved

ordering = django_filters.OrderingFilter(
        # tuple-mapping retains order
        choices=(
            ('lightbox_price', 'Цена по возрастанию'),
            ('-lightbox_price', 'Цена по убыванию'),

        ),

        fields=(
            ('lightbox_price', 'lightbox_price'),
            ('lightbox_price', '-lightbox_price'),

        ),

        # labels do not need to retain ord

[2017-02-27 09:12] #643 closed

[2017-02-27 15:06] rpkilby commented on #645
@yarnball - a django-filter 1.0-compatible release of drf-filters has not been created yet. See https://github.com/philipn/django-rest-framework-filters/issues/155

[2017-02-28 16:18] edmorley opened #646 "Improve UX of global FILTERS_STRICTNESS setting"
The `FILTERS_STRICTNESS` global setting docs ([here](https://django-filter.readthedocs.io/en/latest/ref/settings.html#filters-strictness)), say:
[code]

This was confusing at first glance, since:
1) Initially I read the default value as a string, not an actual class, since Django settings convention is to use strings to refer to classes/constants.
2) I had to rummage in the source to find out wher

[2017-02-28 17:04] carltongibson commented on #646
Hey @edmorley,

I'm moving towards having an `Enum` here, rather than back to (just) strings.

The docs aren't great. We can certainly elaborate there.

[2017-03-01 19:47] rpkilby opened #650 "Change strictness default to RAISE_VALIDATION_ERROR for DRF?"
Thoughts on doing this for a future major version?

[2017-03-02 07:50] carltongibson commented on #650
I suspect this _shouldn't_ be the default. I suspect most new users would prefer an empty result set than an uncaught `ValidationError`.

I could be wrong on that.

[2017-03-02 08:36] ticosax commented on #650
Empty results always tricked me. I'd prefer to have RAISE_VALIDATION_ERROR as default. Easier for client applications, assuming django-filter is used to serve a Rest API.

[2017-03-02 09:17] carltongibson commented on #650
Exactly. Graceful handling requires DRF's view level handing of `ValidationError`. Everywhere else you're going to get a `500` — normally from accessing `filterset.qs` in the template. That seems like a pretty user-hostile default to me.

[2017-03-02 09:21] ticosax commented on #650
Can we reconcile those 2 kinds of usage ? and having a sensible default for each of them ?

[2017-03-02 09:23] carltongibson commented on #650
Yes, surely. But is the code that tries to guess any better than just having the user toggle a switch?

[2017-03-02 09:31] ticosax commented on #650
You have a point, then, a documentation effort would be beneficial. Explaining that behind DRF's views, `RAISE_VALIDATION_ERROR` is a better choice.

[2017-03-02 09:32] carltongibson commented on #650
Yep. +1. See also #646 (which is "docs" IMO)

[2017-03-02 13:15] carltongibson commented on #633
Closed by #634

[2017-03-02 13:15] #633 closed

[2017-03-02 16:14] rpkilby commented on #646
Per #650, just adding a note to document that `RAISE_VALIDATION_ERROR` is a more appropriate default.

[2017-03-02 16:14] rpkilby commented on #650
This all makes sense - added a note in #646, so closing in favor of that.

[2017-03-02 16:14] #650 closed

[2017-03-02 16:26] lucas03 opened #652 "NumericRangeFilter uses startswith and endswith"
Hi,
I have a question about NumerRangeFilter. I do not think it does what one would expect.
It uses `startswith` and `endswith`, as can be found [here](https://github.com/carltongibson/django-filter/blob/4dd64e5783b0f0ae32d9a187defc85d91164235b/django_filters/filters.py#L401) and documented [here](http://django-filter.readthedocs.io/en/develop/ref/filters.html#numericrangefilter).

My question is,

[2017-03-02 16:33] rpkilby commented on #652
Not sure if this helps (Django [docs](https://docs.djangoproject.com/en/1.8/ref/contrib/postgres/fields/#querying-using-the-bounds))

[2017-03-02 16:38] lucas03 commented on #652
It does, thanks! So NumericRangeField is for RangeFields and should not be used on IntergerField.

[2017-03-02 16:38] #652 closed

[2017-03-03 07:30] #561 closed

[2017-03-06 15:12] beruic opened #657 "Question: Is it possible to at fields that are not on the model?"
The reason for this question is that we have a model where fields available for this model (using another model for the definition) are dynamically added by the users. I would like to try to construct a class based on your work, that adds fields to the form based on the fields created by our users, and of course also add custom code to build the queryset.

[2017-03-06 16:49] rpkilby commented on #657
Hi @beruic - this is a question better suited for stackoverflow.

----

That said, django-filter is an abstraction of the queryset API. If you can build a suitable query using the ORM, you can most likely represent the query using django-filter.

[2017-03-06 20:39] carltongibson commented on #657
@beruic, as said by @rpkilby.

(I'm going to close this: it's not really an issue.)

If you can get to something a little more concrete then it's something that I'd be happy to think about on the mailing list. Current status is: _sounds cool but wondering about the cödz_ 🙂

In general you can add fields to models, forms, and—why not?—filtersets dynamically. The issue is always the bookkeeping. It'

[2017-03-06 20:39] #657 closed

[2017-03-10 14:27] carltongibson commented on #551
I'm reopening this on the back of https://github.com/tomchristie/django-rest-framework/issues/4960

When this came up previously, we had this exchange:

i.e. We could live with conditionally checking for (e.g.) `kwargs` in `get_queryset` but not `request` and `request.user` — that **would** be too much.

Well, from https://github.com/tomchristie/django-rest-framework/issues/4960, with the new API

[2017-03-10 14:55] carltongibson commented on #551
#659 is the sort of thing I have in mind

[2017-03-10 21:13] #551 closed

[2017-03-13 17:52] dalberto opened #660 "collectstatic fails on django 1.11 beta 1"
While testing an upgrade to django 1.11 I discovered a potential issue with `django-filter`. When running `./manage.py collectstatic` I get the following error:

[code]

It appears like the `flatatt` function was [moved](https://github.com/django/django/commit/b52c73008a9d67e9ddbb841872dc15cdd3d6ee01) to [`forms.utils`](https://github.com/django/django/blob/stable/1.11.x/django/forms/utils.py#L26-

[2017-03-13 18:14] Atorich commented on #460
+1

[2017-03-13 18:37] rpkilby commented on #660
See #577. There are several fixes in the upcoming 1.0.2 release that will add Django 1.11 compatibility.

[2017-03-13 18:40] dalberto commented on #660
Thanks. I completely missed the 1.11 mentions in that PR.

[2017-03-13 19:18] carltongibson commented on #660
@dalberto Yes. Please install from #577 for the now. (New release _Shortly™_)

[2017-03-17 15:53] bastamper opened #663 "filter_overrides in the Meta are lost"
python 3.4
django 1.10.5
django-filters 0.15.3 or 0.15.4

If you move filter_overrides into the Meta it doesn't get pulled into the AutoFilterSet.

We have a setup like this:

[code]

It works. But when adjusting when upgrading (due to deprecation warning) to this:

[code]

Our filter_overrides are not applied. Debugging it, it's because the filter_overrides are lost when AutoFilterSet is used in

[2017-03-18 10:48] carltongibson commented on #663
Reminds me of the joke about the math professor:

Meta class inheritance is a tricky topic. In general I'm happy that users are involved in configuring their custom DRF filter backends. But yes, I can see how you might want `get_filter_class` to handle this automatically.

First step is to narrow this down to a minimal test case. We can think about an adjustment from there.

[2017-03-18 11:00] carltongibson commented on #663
c.f. https://github.com/djangonauts/django-rest-framework-gis/pull/117/files#diff-745c1a45c45145b58594c9c47bee0057L86

[2017-03-18 21:23] rpkilby commented on #663
Something like the following should be sufficient to support Meta class inheritance. Seems reasonable to me.

[code]

[2017-03-29 00:56] tbeadle commented on #621
This appears to also be the reason that filter help_text is not displayed in django-rest-framework's autogenerated docs for query string parameters.  In the drf template, it uses `field.schema.description` but `field.schema` is None since it's not getting set in `get_schema_fields`.  If I change it to use `field.description`, the value of the filter's help_text is displayed.

[2017-03-29 08:22] #660 closed

[2017-03-29 11:41] frankh opened #666 "Django filter 1.0.2 regressions (git merge error?)"
It looks like the 1.0.2 merge came off an out of date branch, as it had over 100 commits in it.

In particular, it seems to have reverted https://github.com/philipn/django-rest-framework-filters/pull/129 - which is causing this issue for me: https://github.com/carltongibson/django-filter/issues/562

[2017-03-29 12:59] carltongibson commented on #666
This looks fine as far as I can see: https://github.com/carltongibson/django-filter/compare/1.0.1...1.0.2

Check the Milestone: https://github.com/carltongibson/django-filter/milestone/12?closed=1 There's a lot of tickets, so a lot of commits.

I don't know about other repos but I guess https://github.com/carltongibson/django-filter/pull/580 is what you're looking for.

[2017-03-29 12:59] #666 closed

[2017-03-29 13:18] rpkilby commented on #666
You may not have added `'django_filters'` to `INSTALLED_APPS`, which would be required to find the template files. Relevant changes in #580.

[2017-03-30 09:13] jter commented on #621
encountered the same issue.

[2017-03-30 13:14] tbeadle commented on #621
FYI, I submitted #667 to fix this issue.

[2017-04-01 10:42] KushGoyal opened #668 "datetime filter don't support datetime input formats from project settings file"
I am facing 2 issues:

1. when using django filter with django rest framework (DRF) datetime filters don't accept iso-8601 formats. DRF renders datetime objects as iso-8061. This creates confusion.

2. I added iso-8061 to django's datetime input formats setting. But django-filter still did not support it.

[2017-04-02 22:23] timothycoutlakis commented on #562
I also get this error, using:

[code]

If I revert to the following, then it works.

[code]

[2017-04-02 22:48] rpkilby commented on #668
Hi @KushGoyal - which filterset class are you using? `django_filters.FilterSet` or `django_filters.rest_framework.FilterSet`?

[2017-04-03 02:22] rpkilby commented on #562
Hi @timothycoutlakis - I believe this is the same issue as #666. You may need to add `'django_filters'` to `INSTALLED_APPS`.

[2017-04-03 18:37] timothycoutlakis commented on #562
Thank you @rpkilby, that solved it.

[2017-04-03 20:11] #646 closed

[2017-04-03 20:11] #663 closed

[2017-04-04 03:15] KushGoyal commented on #668
@rpkilby I am using `django_filters.rest_framework.FilterSet`

[2017-04-04 03:31] rpkilby commented on #668
@KushGoyal - That's odd - it's the only obvious answer that comes to mind.

If you look at this line [here](https://github.com/carltongibson/django-filter/blob/1.0.2/django_filters/rest_framework/filterset.py#L15), you'll see that the DRF filterset specifically uses the `IsoDateTimeFilter` for datetimes, which should handle your case. This [test](https://github.com/carltongibson/django-filter/blob

[2017-04-04 04:30] KushGoyal commented on #668
DRF has its own datetime input [setting](http://www.django-rest-framework.org/api-guide/settings/#datetime_input_formats)
Django has it own datetime input [setting](https://docs.djangoproject.com/en/1.10/ref/settings/#datetime-input-formats)

I am using a DateTimeFromToRangeFilter which does not use IsoDateTimeField. Is there a way I can make DateTimeFromToRangeFilter use iso-8061.

[2017-04-04 15:49] rpkilby commented on #668
The [`DateTimeFromToRangeFilter`](https://github.com/carltongibson/django-filter/blob/1.0.2/django_filters/fields.py#L58-L64) is ultimately just a collection of two `forms.DateTimeField` fields, which does [obey](https://github.com/django/django/blob/1.10/django/forms/fields.py#L454) the `DATETIME_INPUT_FORMATS` setting. That said, `DATETIME_INPUT_FORMATS` doesn't recognize the `'iso-8601'` string

[2017-04-04 19:20] ses4j opened #673 "Django 1.11 compatibility issue - `cannot import name flatatt`"
[code]

[2017-04-04 19:25] charlex commented on #673
Seeing this as well:

[code]

[2017-04-04 19:29] charlex commented on #673
It looks like the proper way to import that is:

[code]

See:
https://docs.djangoproject.com/en/1.10/_modules/django/forms/widgets/

[2017-04-04 19:30] rpkilby commented on #673
What version of django-filter are you using. This should have been fixed in the latest release (1.0.2)

[2017-04-04 19:32] charlex commented on #673
Ah, yes. That fixed it for me. Thanks.

[2017-04-05 11:26] mapleflow opened #675 "django 1.11 lookup to an unrecognized field type JSONField"
AssertionError: ProductFilter resolved field 'attrs' with 'exact' lookup to an unrecognized field type JSONField. Try adding an override to 'Meta.filter_overrides'. See: https://django-filter.readthedocs.io/en/develop/ref/filterset.html#customise-filter-generation-with-filter-overrides

Also ArrayField, SearchVectorField like this, how to solve it ?

Env:

	Ubuntu 14.04
    Python 3.4
	Django (1.1

[2017-04-05 21:00] carltongibson commented on #675
Currently we have no built in support for JSONField. c.f. #426 and #583.

I'd be inclined to begin passing a `method` that handled your particular filtering logic. Maybe we can provide a generalised solution from there.

I'm very happy to look at positive suggestions but this isn't something I consider an active issue right now — simply because a generalised solution hasn't yet presented itself. O

[2017-04-05 21:00] #675 closed

[2017-04-05 21:00] #673 closed

[2017-04-05 21:10] #581 closed

[2017-04-05 21:19] carltongibson commented on #668
I don't want to be adding a whole `DateX...` hierarchy mirroring Django here. Either we need to find workarounds (like this suggested) in user land code or we need to push back on Django to handle ISO-8061 in core. (IMO: Django should probably do that by this point — but this isn't something I have bandwidth to advocate for – so if you want it, make noise, write code.)

[2017-04-05 21:19] #668 closed

[2017-04-05 23:59] harsharastogi commented on #562
Adding django-filters in the apps list inside settings.py solved the issue. I was using

django==1.10.6
django-filter==1.0.2
djangorestframework==3.6.2

Django rest framework documentation should be updated

[2017-04-06 04:01] ataylor32 opened #676 "Update README's installation instructions"
The installation instructions on Read the Docs say to add `'django_filters'` to `INSTALLED_APPS`, but the README in this repository does not. This is an important step, considering commit 471d983184c67795c49caa2b133c4df16a85eddb

[2017-04-06 19:01] tjwalch commented on #581
The generic example workaround doesn't actually work if it's a multi widget field or if the initial is a calllable, so maybe the deprecation note is enough. Sorry about not pointing this out earlier.

OT  @carltongibson really nice meeting you at Djangocon, knew we crossed paths before :) And hope that the last days of it are fine. I'm writing this from my daughter's hospital room back in Stockhol

[2017-04-06 19:08] rpkilby commented on #581
Good points - MultiWidget has a habit of being a pain point. Either way, the example should be enough to point users in the right direction.

[2017-04-07 15:36] rooterkyberian commented on #676
I also got bitten by this. This doesn't seem like a change which should go into minor release as it is breaking for existing installations.

[2017-04-08 03:39] rpkilby commented on #425
I took a brief look into this, and it seems doable... You would need to completely override a couple of methods, and modify the `get_context` result. Something like:

[code]

[2017-04-08 07:46] carltongibson commented on #425
👍🏽.

I this is both doable and probably a nice to have. If you want to take it on, excellent. If you want to open a PR I'm happy to help on that docs wise etc.

[2017-04-09 08:58] pembeci opened #682 "OrderingFilter doesn't work with GenericRelation Field"
I have a filter on a generic relation field which works as a RangeField but fails whenever used as a field of an OrderingFilter. Here is the relevant code:
[code]
Here is how it looks like in the shell:

[code]

Do I need some extra steps to make this field work in OrderingFilter or is it some kind of a bug? Thanks.

[2017-04-09 16:02] pembeci commented on #682
Argh, it was already [in the docs](http://django-filter.readthedocs.io/en/develop/ref/filters.html#adding-custom-filter-choices):

I wrote such a subclass and it works now. Sorry for taking your time, somehow I missed that part.

[2017-04-09 16:02] #682 closed

[2017-04-09 18:23] #676 closed

[2017-04-12 07:07] rtindru opened #684 "Behavior of `in` filter has changed"
We were using django-filter 0.13.0 where the URL filter such as `filed_name__in=` returns None which makes sense since the list is empty. After updating to django-filter 1.0.1 the same filter `fied_name__in=` returns ALL the elements.
For context, we use queries of the kind `user_id__in=1,2,3&` in the URL. When the list is empty, this query becomes `user_id__in=&` which evaluates to None of the us

[2017-04-12 18:50] carltongibson commented on #684
This looks like expected behaviour to me. When the value is not provided no filtering occurs.

[2017-04-12 18:51] rpkilby commented on #684
Yep - this was fixed by #455 for the 0.14 release. In short, the old behavior is incorrect. Quoting myself from the original issue:

[2017-04-12 18:51] #684 closed

[2017-04-13 04:42] rtindru commented on #684
Makes sense. Thanks @carltongibson @rpkilby.

[2017-04-13 07:43] gthieleb opened #685 "filter field title changes fields verbose_name"
When defining model fields verbose_name I want exactly use this as part of the generated filter label.

e.g. model field:

    dns = models.ManyToManyField(ReverseDnsEntry, blank=True, verbose_name='DNS')
    cidr = models.ForeignKey(Network, to_field='cidr', null=True, blank=True, verbose_name='CIDR')
    function = models.CharField(max_length="10", blank=True, verbose_name='Function')

Currently

[2017-04-13 09:41] carltongibson commented on #685
`Filter` takes a `label` kwarg. https://django-filter.readthedocs.io/en/develop/ref/filters.html#label

[2017-04-13 09:41] #685 closed

[2017-04-13 09:53] gthieleb commented on #685
Sorry if i expressed myself not completely enough.

I still want to rely on django-filters `generated filter labels` because they are really shining for my use case.

I am missing a way to override `FILTERS_VERBOSE_LOOKUPS` and override the field name part with the fields `verbose_name`.

[2017-04-13 10:04] carltongibson commented on #685
Well, the behaviour comes from [`django_filters.utils. verbose_field_name`](https://github.com/carltongibson/django-filter/blob/fd6c9a70ab2c97a5037e742affa5ea979ea597dc/django_filters/utils.py#L158-L184) so the first point of call is a failing test case showing the behaviour you'd like to see.

[2017-04-13 10:14] gthieleb commented on #685
That looks good in a shell but why is it titelized in the label?

	In [45]: utils.verbose_field_name(DnsEntry, 'dns__cidr__cidr')
	Out[45]: u'DNS CIDR CIDR'

[2017-04-13 10:20] gthieleb commented on #685
Perhaps to note, as I am coming from Germany my expectation is that substantives are written in uppercase, also the app is missing i18n, yet ...

[2017-04-13 10:24] carltongibson commented on #685
If you look at the code `label_for_filter` calls `django.forms.utils.pretty_name` which applies the capitalisation.

The simplest way around that behaviour is to supply the `label` kwarg. It'd be an interesting question as to how to detect when to apply the capitalisation and when not.

If you're looking to contribute to open source than PRs improving either this behaviour or the i18n of the label

[2017-04-13 10:36] gthieleb commented on #685
So perhaps pretty_name makes something in respect to Djangos language settings? I meant i18n of my app. If I have something related to django filters I'll post a PR.

Thanks for pointing that out and thanks for such a great extension!

[2017-04-13 16:49] rpkilby commented on #685
This seems valid to me. Added tests+fix in 686.

[2017-04-14 16:47] DeKaN opened #687 "get_schema_fields does not pust request to filter class"
[code]

Request always is None for schema generating

[2017-04-16 15:01] Bernardoow opened #689 "Filter Overrides"
Hi brothers !

It's possible to set filter_overrides in a global way at settings.py?

For example, I want that all charfields be icontains.

Like this:
filter_overrides_global = {
             models.CharField: {
                 'filter_class': filters.CharFilter,
                 'extra': lambda f: {
                     'lookup_expr': 'icontains',
                 },
             }
        }

[2017-04-17 16:17] rpkilby commented on #689
There is no global setting, but you could create a custom `FilterSet` and inherit from that instead. [`django_filters.rest_framework.FilterSet`](https://github.com/carltongibson/django-filter/blob/1.0.2/django_filters/rest_framework/filterset.py#L13-L21) is a good example of how to do this.

[2017-04-18 07:22] wonderbeyond opened #690 "v1.0.2 introduced some template files and `django_filters` is required in `INSTALLED_APPS`."
Django 1.0.2 introduced some template files and django_filters is required in INSTALLED_APPS, However this hasn't been documented yet.

The [Installation Guide](https://django-filter.readthedocs.io/en/latest/guide/install.html) needs update.

[2017-04-18 09:37] carltongibson commented on #690
LGTM:

![screenshot 2017-04-18 11 36 24](https://cloud.githubusercontent.com/assets/64686/25124201/53b1d808-242b-11e7-9112-8f68d97cdb3c.png)

[2017-04-18 09:37] #690 closed

[2017-04-19 15:34] rpkilby commented on #687
It seems to me that the real issue is schema generation (probably) failing when using the *callable* behavior of `ModelChoiceFilter.queryset`, since no request object is provided. This would go against user expectations of having a valid request object passed to the callable.

----

Taking a quick look, I'd argue that `None` is the correct value to assume here (that said, I don't use the schema ge

[2017-04-19 16:23] rpkilby commented on #687
Hi @DeKaN - I've added an alternate approach at #691. Any thoughts?

[2017-04-19 16:45] DeKaN commented on #687
@rpkilby I think, that request should be added at filter instantiation, because it may have custom add or hide filters for public api / current user.

I agree with adding `request may be None` to documentation for queryset callables

[2017-04-19 17:35] rpkilby commented on #687
Maybe, but by this logic we should also provide the `queryset` and `request.query_params`. My thinking is that  `get_schema_fields()` is largely called in a different context than `filter_queryset()` and `to_html()`, so not instantiating the `filter_class` and using `base_filters` seems acceptable. Either that or we instantiate the `filter_class` and match the behavior of `filter_queryset()`/`to_h

[2017-04-19 18:10] sushifan opened #692 "Docs clarification re: settings.INSTALLED_APPS when using DRF"
When Using DRF, I'm following these tips:

http://django-filter.readthedocs.io/en/develop/guide/rest_framework.html

Of course, here are the general installation tips:

http://django-filter.readthedocs.io/en/develop/guide/install.html

It's not clear, when using DRF, whether settings.INSTALLED_APPS should contain 'django_filters' or not.  Can you please clarify?

[2017-04-19 18:21] rpkilby commented on #692
yes it should.

[2017-04-19 21:37] carltongibson commented on #687
On the phone, so just quickly: I'm inclined to say we don't want to do anything too sophisticated here — not as the default anyway.

Schema generation is ALWAYS going to need manual input to capture complex cases.

If people want to override get_schema_fields (which is equivalent to DRFs advice on manually specifying the schema) I'm happy to make available whatever they need.

[2017-04-19 21:37] carltongibson commented on #687
But I don't want to make the base implementation much more sophisticated than it currently is.

[2017-04-20 07:45] #692 closed

[2017-04-20 08:03] carltongibson commented on #613
Right. I'm going to re-open this.

I'll take a PR with change notes on `django_filters.rest_framework.filterset.FilterSet` overriding `qs` to convert the error.

Something like:

[code]

[2017-04-20 14:29] rpkilby commented on #613
#677 ?

[2017-04-20 14:35] carltongibson commented on #613
Yep. That looks about right! 👍

[2017-04-21 00:33] sushifan commented on #692
Thanks a lot, appreciate it!

[2017-04-21 10:00] OskarPersson opened #695 "Use the same filter on multiple model fields"
I'm using the following solution to filter a field by a comma separated string (e.g. `'valueA,valueB'`):

[code]

This basically results in the following queryset: `MyModel.objects.filter(first__in['valueA', 'valueB'])`

How can I apply this filter on multiple fields? I would like it to generate the following queryset:
[code]

using something like `ListFilter(name='first,second')`

[2017-04-21 14:15] rpkilby commented on #695
Hi @OskarPersson. Two thoughts:

- I'd recommend taking a look at [`BaseInFilter`](https://django-filter.readthedocs.io/en/develop/ref/filters.html#baseinfilter).
- There is no API for filtering by multiple fields (eg, `name=['a', 'b']`), but you can customize how filtering is performed with the [`method`](https://django-filter.readthedocs.io/en/develop/ref/filters.html#method) argument of your fi

[2017-04-22 08:33] #695 closed

[2017-04-24 04:58] inakrin opened #697 "The django_filters.BooleanFilter with method and a boolean filter inherited from a model don't work on a same way."
I've encountered an issue that the boolean filter created by django_filters.BooleanFilter  expects different query params with the boolean filter inherited from the model.
Boolean filter inherited from the model expects the param to be true or false, a filter created by BooleanFilter expects the params to be either:
1 - translated to "not set"
2 - translated to "True"
3 - translated to "False"
Thi

[2017-04-27 14:27] nspo commented on #322
I use a FilterView. Overriding get_filterset_kwargs works for me:
[code]

[2017-04-27 15:05] rpkilby commented on #697
Hi @inakrin. You should import `filters` from the `rest_framework` sub-package.

https://github.com/carltongibson/django-filter/blob/develop/django_filters/rest_framework/filters.py

[2017-04-30 11:07] tuxedojoe opened #699 "How to define DateRangeFilter options"
I really like this package!

However, I get stuck trying to change the DateRangeFilters. I can't seem to find any information on how to custom date ranges. For example, I need it to be Today, in 2 weeks from now, in a month from now, in a year from now. Any help appreciated.

[2017-05-01 16:44] rpkilby commented on #699
Hi @tuxedojoe - this is more of a usage question than a bug report/feature request. I'd recommend asking  on Stack Overflow as you're more likely to get a timely response.

----

That said, it's not entirely clear what isn't working. I'd recommend checking the querystring (are you actually submitting the correct query params) and the output of `FilterSet` (is the resulting query sensible). You can

[2017-05-01 18:49] #613 closed

[2017-05-01 19:17] carltongibson commented on #687
I'm going to merge #691 for v1.0.3 but I'm going to leave this (and #688) open for now. I'll milestone to resolve for v1.1.

* I'm generally sympathetic to the idea that we may **want** a per-user variation.
* Passing the `request` itself isn't an issue (it's a small change) but I'm not yet sure of the degree of dynamism we want/need to support.

[2017-05-01 19:45] rpkilby opened #701 "Error code not included in forms.ValidationError => serializers.ValidationError translation"
This was mentioned in a DRF issue. Forgot to update #677 with this change.

[2017-05-01 19:48] carltongibson commented on #701
@rpkilby OK. I need to do change notes, review some of the earlier commits and such, so 1.0.3 will be at least a few days. If you want to make an addition it's always welcome.

[2017-05-03 04:34] inakrin commented on #697
So it probably should be mentioned in DRF documentation because they suggest to import from filters:
http://www.django-rest-framework.org/api-guide/filtering/#specifying-a-filterset
And it works of course in all the cases except BooleanFilter.

[2017-05-03 15:10] rpkilby commented on #697
See https://github.com/encode/django-rest-framework/pull/5113

[2017-05-03 18:52] ZaibiMughal opened #703 "Unable to get the desired result due to uppercase or lowercase difference! Help"

[2017-05-03 18:55] ZaibiMughal opened #704 "Unable to get the desired result due to uppercase or lowercase difference! Help"
I just want to say that your package is awesome. I got what i was seacrhing for. The only issue i am facing right now is that lets suppose my product name is Red. SO when i use filter and type 'red' . It does not show the product unless or untill i re-type 'red' with r as capital like 'Red'. How can i remove this issue.
I am doing a university project and really need your help asap.

[2017-05-03 19:06] rpkilby commented on #703
Hi @ZaibiMughal - you've filed a duplicate issue here.

[2017-05-03 19:09] ZaibiMughal commented on #703
Oh ... I am sorry going to close this one!

[2017-05-03 19:10] ZaibiMughal commented on #704
@rpkilby can you help me out?

[2017-05-03 19:10] #703 closed

[2017-05-03 19:12] rpkilby commented on #704
Hi @ZaibiMughal - it's recommended that you ask questions on Stack Overflow, since you're more likely to get a timely response. The issue tracker is intended more for bug reports and feature requests.

----

That said, you can fix this by using an appropriate lookup expression. By default, filters use an exact match, however you can use any valid lookup. In this case, appropriate lookups might be

[2017-05-04 07:23] arenasgt opened #705 "Textinput widget for Foreingkey"
I want to add  a textInput for a foreign key:
[code]

I found out that this does the job:
[code]
I just wonder if it is possible to do it like the first example without declaring a method.
thanks for the app !

[2017-05-04 08:12] bradmerlin opened #706 "FilterSet fields should autogenerate schemas from help_text (for DRF generated documentation)"
Although backends support specifying a schema explicity via `get_schema_fields`, it would be very useful if a filter's `help_text` field would automatically generate a schema entry per field. One use case: display field `help_text` in DRF autogenerated documentation.

[2017-05-04 11:14] rpkilby commented on #705
You should be able to get by with
[code]

`CharFilter`s should already use a text widget. Specifying the widget as such should be redundant.

[2017-05-04 11:17] rpkilby commented on #706
What version are you using? `help_text` should be supported since 1.0
see https://github.com/carltongibson/django-filter/blob/1.0.0/django_filters/rest_framework/backends.py#L94-L105

[2017-05-04 11:40] arenasgt commented on #705
Hi rpkilby I've tried as you suggest but I get a select instead of textinput in the form.
thanks for your time.

[2017-05-04 11:45] rpkilby commented on #705
[`CharFilter`](https://github.com/carltongibson/django-filter/blob/1.0.2/django_filters/filters.py#L175-L176) is just a thin wrapper around `django.forms.ChoiceField`. It would be unusual for a select widget to be present. Could you provide the `FilterSet` code?

[2017-05-04 12:26] hmpf opened #707 "django_filters found on runserver, not on test"
I'm trying to use the newest `django_filters` (1.0.2) with the newest `django_restframework` (3.6.2) on python3.4/django 1.11, and I also have `django-crispy-forms` (1.6.1) installed.

In order for crispyforms to find the form, I have `django_filters` in INSTALLED_APPS:
[code]

This works with `python manage runserver`, but not with `python manage test`. With the latter I get:

[code]
I notice tha

[2017-05-04 12:32] rpkilby commented on #707
This is hard to debug without more information. My guess is that there's a circular import loop. Do you have the full stack trace?

[2017-05-04 12:47] hmpf commented on #707
Full, slightly anonymized stack trace:

[code]

I just double-checked: the tests are run with `python manage.py test`, with `tox`.

[2017-05-04 12:54] rpkilby commented on #707
Just trying to think through some obvious cases first... are you sure that django-filter is installed to the tox env?

[2017-05-04 13:05] bradmerlin commented on #706
I'm on 1.0.2.

I think the issue is that at [django_filters line 103](https://github.com/carltongibson/django-filter/blob/1.0.0/django_filters/rest_framework/backends.py#L103), no `schema` is specified, which leaves it at `None`. In the DRF doc template, it tries to display `field.schema.description`, which fails because `field.schema` is `None`.

Should I move this to DRF, or do you think there's

[2017-05-04 13:09] rpkilby commented on #706
Ah - I think this is already fixed in the upcoming 1.0.3 release ([source](https://github.com/carltongibson/django-filter/blob/bb4322bdfb50a729b564cdcba95e77645ad346e1/django_filters/rest_framework/backends.py#L96-L104)). You could test this out by installing the `develop` branch.

[2017-05-04 13:23] bradmerlin commented on #706
Works perfectly! Thanks.

[2017-05-04 13:23] #706 closed

[2017-05-06 12:41] #704 closed

[2017-05-06 12:42] #697 closed

[2017-05-06 16:10] alzearafat opened #708 "Can I use this as "Search" feature?"
Hi there,

Really great app, and a livesaver!

This is not technical issue by the way. I'm just curious, can I use `django-filter` as my search form? What is the difference with other search app, like django-watson or similar app? Any pros/cons?

Thank you!

[2017-05-06 17:13] carltongibson commented on #708
I'd use Django Watson... it's great.

Using the ORM for search is bad idea. You're basically using LIKE queries at the DB layers. There are better ways.

[2017-05-06 17:13] #708 closed

[2017-05-07 12:58] alzearafat commented on #708
django-watson somehow doesnt work for me, I dont know. I open issue on its github but no response, so I search for alternative

Anyway, thank you @carltongibson :)

[2017-05-10 04:49] atkawa7 opened #709 "Allow get_filter_class to be defined in the view"
Lets say we have a models, serializers and filtersets classes and you want to create a dynamic view for all those models

[code]
 My question is it possible to add a check for get_filter_class attr in the DjangoFilterBackend class i.e
[here](https://github.com/carltongibson/django-filter/blob/develop/django_filters/rest_framework/backends.py#L28)
[code]
so that you can use get_filter_class from vi

[2017-05-10 18:35] rpkilby commented on #709
Regardless of the decision to add additional API, you should be able to get by with making `filter_class` a property in lieu of a `get_filter_class()` method.

[code]

[2017-05-11 20:18] teelee7133 opened #710 "ChoiceFilter callable choices"
Hello,

For ChoiceFilter (and other related ones), is it possible, or will it make sense, to have the 'choices' callable to behave like the ChoiceField in django, where 'it is evaluated each time the field’s form is initialized'?

https://docs.djangoproject.com/en/1.11/ref/forms/fields/#choicefield

(I am happy to draft a PR if this sounds a reasonable feature request)

Thanks!

[2017-05-12 01:26] atkawa7 opened #711 "Please reopen issue #137"
The problem still persist

[2017-05-12 06:51] carltongibson commented on #711
Ref #137.

@atkawa7 There was a lot going on it that thread. The CSV based filtering was implemented. No-body was able/willing to spend the time to narrow down the issue to a specific reproducible example. In the end it wasn't even clear exactly who had which issue and which requirement. I'm certainly not going to re-open it.

This issue as created is particularly unhelpful: there's nothing action

[2017-05-12 06:57] carltongibson commented on #709
First response is to **not** add any API here. @rpkilby's suggestion seems to cover this particular case.

[2017-05-12 06:57] #709 closed

[2017-05-12 07:02] carltongibson commented on #710
That's the question isn't is? 🙂

Can you explain your use-case a bit so we can see? Thanks!

[2017-05-12 14:12] teelee7133 commented on #710
Indeed!  :slightly_smiling_face:

I think currently in `ChoiceFilter`, `choices` parameter accepts a callable.  But if datetime function or ORM functions are used within that callable, then, ideally, it would be best the `choices` data to be materialized when the `FilterSet` instance is created, instead of when the `FilterSet` class is created.

Some naive example:
Consider some reporting system w

[2017-05-12 16:02] atkawa7 commented on #711
@carltongibson I was having the same issue as @apelliciari  But managed to fix the issue I was having by using  the  method suggested by @ddevlin.

[2017-05-12 16:02] #711 closed

[2017-05-12 18:25] rpkilby commented on #710
Yep. The problem is [choice](https://github.com/carltongibson/django-filter/blob/1.0.2/django_filters/filters.py#L186-L210) resolution during the field instantiation. Could you try installing the branch from #680? I believe that this incidentally fixes the issue you're describing here.

[2017-05-12 18:26] rpkilby commented on #710
It might not also be a bad idea for me to add a test in 680 ensuring that choices are resolved during FilterSet form creation instead of during filter instantiation.

[2017-05-12 18:29] rpkilby commented on #711
@atkawa7 - I would not recommend that solution, since it doesn't perform input validation. If you're looking to create a custom CSV filter, I'd look at [this](https://django-filter.readthedocs.io/en/develop/guide/tips.html#filter-and-lookup-expression-mismatch-in-range-isnull) example in the docs.

The relevant bits:

[code]

[2017-05-12 20:44] niknokseyer opened #712 "Django 1.11 Compatibility"
I upgrade to Django 1.11 but I think there's some compatibility issues for the django-filter, I'm getting this error when I try to run the server:

`
ImportError: Could not import 'django_filters.rest_framework.DjangoFilterBackend' for API setting 'DEFAULT_FILTER_BACKENDS'. ImportError: cannot import name 'flatatt'.
`

[2017-05-12 21:00] atkawa7 commented on #711
@carltongibson @rpkilby Thank you for you suggestion. What if you are trying to query the following
`/path?d=A,B,C` where d can be A, B, C, D, E when d is not a number. In that case what is appropriate solution

[2017-05-12 21:05] carltongibson commented on #712
Version 1.0.2 added Django 1.11 compatibility, and we're testing against that in Travis

E.g. https://travis-ci.org/carltongibson/django-filter/jobs/227705729#L218

Can you check your versions?

[2017-05-13 05:38] rpkilby commented on #711
Hi @atkawa7 - I would use the most appropriate filter for your use case. eg, if `d` expects text, then mix in a `CharFilter` instead of a `NumberFilter`. If you want ISO 8601 datetimes, mix in the `ISODateTimeFilter`. The `BaseInFilter` and `BaseRangeFilter` were designed to be mixed in such that the second filter class performs validation for the individual input values.

[2017-05-13 18:49] mheppner commented on #712
I might need to open a new issue for this, but I'm having a problem after upgrading to Django 1.11 (with `django-filter==1.0.2`, `djangorestframework==3.6.3`, `django-crispy-forms==1.6.1`). I get a `Programming Error: can't use a named cursor outside of transactions` whenever an API view set has a `filter_fields` set. The traceback is happening on line 3, `filter.form.as_p` (similar issue when I t

[2017-05-14 07:28] carltongibson commented on #712
Yes please. If you can isolate the failure in a test case that would be awesome!

[2017-05-14 21:52] mheppner opened #713 "Django 1.11 compatibility - named cursor error"
After upgrading to Django 1.11, I get a `Programming Error: can't use a named cursor outside of transactions` whenever an API view set has a `filter_fields` set directly to a foreign key field. The traceback is happening on line 3, `filter.form.as_p`, but I think it's coming from somewhere else (similar issue when I turn crispy forms back on):

[code]

- `django-filter==1.0.2`
- `djangorestframewo

[2017-05-14 21:54] mheppner commented on #712
Ok it's #713. As for the original issue reported here, it's a duplicate of #673, which has already been fixed.

[2017-05-15 03:29] rpkilby commented on #713
It looks like this is an incompatibility with Django and psycopg2cffi.
See: https://github.com/chtd/psycopg2cffi/issues/82

[2017-05-15 03:31] rpkilby commented on #713
Try switching to `psycopg2` from `psycopg2cffi`. I'd guess that the issue disappears.

[2017-05-15 03:32] mheppner commented on #713
Thank you @rpkilby. I didn't even try debugging further since it seemed to be coming from here. I'm targeting pypy, so I need to stick with `psycopg2cffi`. I guess this issue can be closed, up to you guys.

[2017-05-15 03:40] rpkilby commented on #713
I don't think there is anything to be done here since the interaction is incidental to django-filter.

[2017-05-15 03:41] mheppner commented on #713
Ok thanks

[2017-05-15 03:41] #713 closed

[2017-05-15 18:54] dmitry-saritasa opened #714 "Support for true/false values for boolean field?"
Support for true/false as for the values of a boolean filter field is not working?

[code]

### the filter is defined as

[code]

### my swagger specification defines the filter as bool

[code]
unfortunately **swagger** used 'true/false' value as get parameters, while django_filter expects uppercase, as "True/False"

![image](https://cloud.githubusercontent.com/assets/1747653/26073943/1625a47a-396

[2017-05-15 19:13] rpkilby commented on #714
Hi @dmitry-saritasa. The base `django_filters.FilterSet` is intended to be used with vanilla Django views. If you're creating an API with DRF, you should use `django_filters.rest_framework.FilterSet` as it uses a slightly different set of filters that is more suitable for use in an API. In this case, the `BooleanFilter` accepts lowercase `true`/`false` values.

[2017-05-15 19:26] dmitry-saritasa commented on #714
worked!

[2017-05-15 19:26] #714 closed

[2017-05-15 22:51] teelee7133 commented on #710
Yep rpkilby, I gave PR #680 a quick test, and it looks like the PR solves the issue.  :+1:  Thanks for the PR!

When will it likely be released?  :slightly_smiling_face:

[2017-05-16 07:13] carltongibson commented on #710
It'll be a week or two (at least). I need to finish 1.0.3 and then look at the proposals for 1.1 (which includes this one.) If you need it before then I'd suggest [installing from the branch](https://pip.pypa.io/en/stable/reference/pip_install/#git)

[2017-05-16 19:00] #712 closed

[2017-05-16 19:02] carltongibson commented on #707
I don't think there's much we can say here. I suggest rebuilding a clean environment. Happy to help if we can come up with something concrete.

[2017-05-16 19:02] #707 closed

[2017-05-16 19:02] #689 closed

[2017-05-16 19:03] #699 closed

[2017-05-16 19:05] carltongibson commented on #705
I'm going to assume this is resolved.

[2017-05-16 19:05] #705 closed

[2017-05-16 19:08] carltongibson commented on #621
I just pushed 1.0.3 which addresses a number of small issues with schema generation. This is on-going: we're all still exploring here. But this issue is _under control_ to the extent that it's now actionable. So I'm going to close it.

I'll take concrete issues in separate tickets.

[2017-05-16 19:08] #621 closed

[2017-05-16 20:43] teelee7133 commented on #710
version 1.1 sounds good, thanks!

[2017-05-17 10:42] JamesRamm opened #716 "verbose_field_name can break on manytomany relationships"
Some change between 1.0.2 and 1.0.3 has meant `verbose_field_name` can now raise an `AttributeError` in cases where the `related_name` on a `ManyToManyRel` is `None`, which can happen.

Specifically this line:

[`names.append(part.related_name.replace('_', ' '))`](https://github.com/carltongibson/django-filter/blob/a5eaf5a0e79f9e15d8b2b1641612f6d38ae1d88c/django_filters/utils.py#L177)

I suggest c

[2017-05-17 10:49] ygwain opened #717 "Clean way to detect if filter is active"
I have a coupe of questions.
1. Is there a clean way to detect is filter active (applied)? (for now I looking into `filter_instance.data` and `filter_instance.form.cleaned_data`)
2. Is there a clean way to get cleaned value for a filter?
Thanks.

[2017-05-17 11:30] carltongibson commented on #716
@JamesRamm Yep. Seems reasonable.

If you put together a test case and patch I'll push a new release with that.

[2017-05-17 11:32] carltongibson commented on #716
This is ref #686 and [`test_utils.py`](https://github.com/carltongibson/django-filter/pull/686/files#diff-87010571bbeeee0b9a13279c493670f3)

[2017-05-17 11:38] carltongibson commented on #717
In normal usage the filter is always applied. Obviously if `request.GET` is empty then it won't do anything, so I guess check that.

`filter_instance.form.cleaned_data` would be the canonical access point for the cleaned data from the filter set form.

[2017-05-17 11:38] #717 closed

[2017-05-17 11:48] ygwain commented on #717
If there are several filter set's on the page and want to know if particular filter set is active?

[2017-05-17 11:52] carltongibson commented on #717
Errrr.... that'll depend... I don't we can cover the logic of your specific application. I'm sure you'll come up with something.

[2017-05-17 12:03] ygwain commented on #717
IMHO method like that is not the logic of my specific app. I don't ask you to implement it, I'm just curious does it make sense :) Thanks anyway!

[2017-05-17 12:24] nhuzaa opened #718 "For ModelMultipleChoiceFilter query_parms if given null gives empty result"
[code]

The above URL gives empty result.
Only when status = {something} we are getting the required result. This is case specific to ModelMultipleChoiceFilter only

[2017-05-17 12:45] carltongibson commented on #718
Well, difficult to help with what you've said.

`'status' != 'state'` but I assume that's a typo.

Try `from django_filters.constants import STRICTNESS` and set [the `strict` meta option](https://django-filter.readthedocs.io/en/develop/ref/filterset.html#strict) to `STRICTNESS.RAISE_VALIDATION_ERROR`. That should at least tell you something.

Otherwise I'll need you to try and identify something m

[2017-05-17 12:45] #718 closed

[2017-05-17 13:03] ygwain commented on #717
What do you mean while saying:

If `request.GET` is not empty but its data is not related to filter (e.g. it has page number for pagination) - filter is not applied and this is normal situation.

[2017-05-17 13:17] carltongibson commented on #717
Under normal usage, the `FilterSet` is always passed `request.GET`. This is passed to the form which validates the data (excluding irrelevant keys, such as `page` in that example). The `cleaned_data` is then passed to each `Filter` in turn. In general, if the field isn't present, or has an empty value, no filtering will occur.

[2017-05-17 14:43] rpkilby commented on #716
@JamesRamm - can you give a simple example of the models. Would this be related to `related_name='+'`?

[2017-05-17 14:44] rpkilby commented on #716
Also, `names.append('None')` would give the old behavior, but it doesn't seem like the desired behavior.

[2017-05-17 14:48] rpkilby commented on #717
btw, this reminds me of #534.

[2017-05-17 15:18] carltongibson commented on #717
@rpkilby Yep. You're right.

[code]

I'm not sure I want to add that. (Obviously awesome, tested documented solutions welcome...)

[2017-05-17 15:20] JamesRamm commented on #716
I think this *may* be to do with use of a 'through' model on an m2m, but I cannot be 100% sure - still working toward a smallest possible scenario to repeat it.

[2017-05-17 15:38] AGASS007 commented on #716
I have this when reversing a ```ForeignKey```, where ```part``` is a ```ManyToOneRel``` with a ```None``` ```related_name```.

[2017-05-17 16:17] rpkilby commented on #717
In #534, I don't think it occurred to me to inspect the form's `cleaned_data`. I'd have to think about it more, but I think we could do the same thing here.

[code]

[2017-05-17 16:17] Fingel commented on #716
I can confirm this bug. I'm not sure which model in my application is causing it, but I've had to revert to 1.0.2 for now.

[2017-05-17 16:49] JamesRamm commented on #716
@AGASS007
Yes that is essentially what ours amounts to - our model relationships are more convoluted so it is a bit harder to decipher where it is coming from, but after running it through `get_fields` you do end up with a `ManyToOneRel` with `None`.

Anyway, ending up with `related_name` as `None` is valid in django so it would be best to handle gracefully.

@rpkilby

I agree it may not be desire

[2017-05-17 17:02] carltongibson commented on #717
And if that's all it is then all the more for it to live in userland code...

[2017-05-17 17:04] carltongibson commented on #716
I'll take a quick patch with test over the perfect solution for this.

[2017-05-17 22:04] brianmay opened #720 "Update from 1.0.2 to 1.0.3 breaks"
Hello,

This update with from 1.0.2 to 1.0.3 - seems to have broken something. My tests fail with the following stack trace:

[code]

I haven't had time yet to study this in detail, but as it is deep down inside ``django_filters`` code think I should report here.

Regards

[2017-05-18 05:17] carltongibson commented on #720
Thanks. Duplicate of #716

[2017-05-18 11:47] #720 closed

[2017-05-18 11:47] carltongibson commented on #716
Right, has anyone got a reproduce for me?

[2017-05-18 13:36] carltongibson commented on #716
#722 provides a test an workaround for this. Can you give it a run and confirm it resolves your issue. (We can come back for v1.1 to improve behaviour.)

Bonus points if you can explain the failing test case behaviour.

[2017-05-19 06:38] #716 closed

[2017-05-19 06:59] carltongibson commented on #716
https://github.com/carltongibson/django-filter/releases/tag/1.0.4 is now available.

[2017-05-19 11:47] kalombos opened #724 "Proposal for creating ListField"
Hello,

I use django_filter for django rest framework mostly and i need something like MultipleChoiceFilter but without choices. I need it pretty often.

I found some solution with BaseCSVFilter [here](http://stackoverflow.com/questions/41194200/django-filter-with-drf-how-to-do-and-when-applying-multiple-values-with-the/44066468) but it is not working for me because i have commas in values.

So i

[2017-05-19 12:19] carltongibson commented on #724
Well, you can either escape the commas, or build a widget with a different divider...

The alternative then is to create a custom widget what implements `value_from_datadict` to call `getList` on the `QueryDict`, rather than `get`. (Then you can have `?key=value1&key=value2` in your URL.)

Both of these solutions need to live in user land code. Al least to begin: I'm always interested to see the f

[2017-05-19 12:25] carltongibson commented on #724
Possible adjustments to `BaseCSVWidget`:

* specify separator
* encode/decode values.

I'm not yet sure whether the value of these makes them worth bringing into the project.

[2017-05-21 10:43] raiviskrumins opened #725 "How to use with SearchVectorField?"
Is it possible to use django-filter with SearchVectorField?
https://docs.djangoproject.com/en/1.11/ref/contrib/postgres/search/#searchvectorfield

[2017-05-22 04:23] rpkilby commented on #725
It's python - anything is possible 😉

I'm assuming you're looking to using `Meta.fields` to generate filters. By default, django-filter is aware of a limited set of model [fields](https://github.com/carltongibson/django-filter/blob/1.0.4/django_filters/filterset.py#L117-L160) that it knows how to create filters for. Beyond that, you need to tell django-filter what to do by adding a filter [overrid

[2017-05-22 19:28] italomaia opened #726 "Slow ModelChoiceFilter"
It seems ModelChoiceFilter always evaluates the given queryset. Is it expected behavior? Shouldn't it only evaluate the queryset when it is absolutely required?

[2017-05-23 02:22] rpkilby commented on #726
My understanding is that it evaluates only when rendering. Could you provide a more complete example?

[2017-05-23 12:16] italomaia commented on #726
Well, here, it was evaluating even when the filter parameter for it was not provided. I'll setup a fiddle of sorts, but you can verify this behavior easely with django-debug-toolbar.

[2017-05-23 13:50] carltongibson commented on #726
@italomaia Can you pass a callable that raises an exception when it's evaluated and add the traceback here?

This will confirm at exactly which point the queryset is being evaluated. From there we have a sensible basis for discussion.

[2017-05-24 16:30] jwineinger opened #727 "CharFilter(widget=CSVWidget) no longer works in 1.x"
I was using CSVWidget with a CharFilter in the pre 1.x days, but I'm upgrading and that combination no longer works.  I can't find any docs or recommendations on what to switch to.  I want to accept a single value or multiple values separated by commas

[2017-05-24 21:06] carltongibson commented on #727
Try something like:

    class CharInFilter(django_filters.BaseInFilter, django_filters.CharFilter):
         pass

[2017-05-24 22:55] dwasyl commented on #615
Just to note, I'm experiencing this same problem with 1.0.4. When I render the `OrderingFilter` as hidden it has a value of  `[]` which on re-submitting breaks things. Interestingly, it doesn't do this on initial load of a form, but only after being submitted (which is the same as above).

However, I am rendering the `OrderingFilter` with the standard widget and displaying it in the form with `.as

[2017-05-25 07:41] hyusetiawan opened #728 "doc issue"
in overriding queryset based on request doc, linked here: http://django-filter.readthedocs.io/en/develop/guide/usage.html#filtering-the-primary-qs

is the request variable of global scope? I tried self.request and it's not there either

help?

[2017-05-25 13:51] carltongibson commented on #728
It should be available as `self.request`

[2017-05-25 16:40] rpkilby commented on #615
I don't think #620 actually fixed the original issue - it fixed a similar issue in `BaseCSVWidget`. That said, not sure if this needs to be reopened. What's the use case for hidden inputs? If you're trying to provide a default ordering, I think this can be covered via below.

You can remove the empty choice by passing `None` to the `empty_label` argument. This will force users to always select an

[2017-05-26 03:54] dwasyl commented on #615
In this case, I've built a filter form that uses a number of `LinkWidget` displays of `AllValuesFilter`, well slightly changed to have choices filtered based on the current `QuerySet`. In addition to the `LinkWidget` choices there are forms with a submit button for selecting the sort order and one free text filter. When you submit the form with sort order it erases any current url parameters, to w

[2017-05-26 06:20] hyusetiawan commented on #728
it might not be related to django-filter, I tried using it with django-graphene, it keeps complaining that request is not available, closing this issue because it might be caused by another library

[2017-05-26 06:20] #728 closed

[2017-05-26 23:22] rpkilby opened #729 "Remove the rest_framework sub-package import block"
So, the import was originally added for ease of use, but it also seems to be a minor source of confusion & bugs. For example, I've seen several instances of the following:

[code]

It's a subtle bug in that they've accidentally used the wrong filter class. I'd argue that we should remove the import and simply plaster the correct import all over the relevant docs. eg,

[code]

~~Additionally, the r

[2017-05-26 23:30] rpkilby commented on #728
Just as a note - the docs in question have been patched in #691. They may need to be rebuilt/pushed to readthedocs.

[2017-05-27 07:29] dwasyl opened #731 "Internationalization/Language Context for FilterSet"
Hi all,

I might be missing something, but I'm having some trouble getting my `FilterSet` to return content in the correct language. The rest of the application is running fine in the configured languages, but for some reason any custom filters refuse to be translated.

I have a `FilterSet` configured like this:
[code]
Now, for some reason, when I call this `FilterSet`:
[code]
None of the filter f

[2017-05-29 09:17] eriktelepovsky opened #732 "Custom validators"
Hi. What is the easiest way of adding custom validators to the filter fields? Let's say I want to use a custom minimum/maximum value of NumberFilter?

Thank you for tips.

[2017-05-29 11:27] carltongibson commented on #732
The `form` is available as a property on the FilterSet. Individual filters can take additional `kwargs` which will be passed to the form field.

[2017-05-29 11:27] #732 closed

[2017-05-30 13:55] leonprou opened #733 "Filter with no arguments"
Using previous `0.13`` version we had the following filter:
[code]
 The filter query url looked like: `?active`, I don't needed value so no need to specify it.

Moving to 1.02 version I converted the filter to:

[code]

 **The previous valueless filter url  (`?active`) is not getting called, and I have to specify  the value, e.g - `?active=x`. Can I get the previous behavior?**

[2017-05-30 16:54] rpkilby commented on #732
You can also pass a custom form class to the FilterSet.
https://django-filter.readthedocs.io/en/develop/ref/filterset.html#custom-forms-using-form

[2017-06-01 09:23] eriktelepovsky commented on #732
@carltongibson Can you reopen this? Your proposal does not work.

Sample:
[code]

Traceback:
[code]

[2017-06-01 14:06] carltongibson commented on #732
This is a support ticket. Please post to the [Mailing List](https://groups.google.com/forum/#!forum/django-filter) or StackOverflow rather than the issue tracker. Thanks

[2017-06-01 14:11] eriktelepovsky opened #735 "Issue vs Support ticket"
This is related to locked issue #732

Why is that issue supposed to be a support ticket?

I quote you (@carltongibson):

It is true, but it **doesn't work**. It throws exception ... so it is an issue, not a support ticket.

[2017-06-01 14:18] #735 closed

[2017-06-01 14:19] carltongibson commented on #735
@eriktelepovsky Please try the other channels as requested.

Unless you are able to narrow this down to something much more specific there is currently no reason to consider this a bug.

If you persist I will block you from the repo.

[2017-06-07 07:22] bene25 opened #736 "Get filter choise in template"
Hello. As google suggested to use different titles and different meta tags on each site page. As we have for example - ordering desc and ordering asc as different pages we should set title and meta tag description properly. How could I get info about ordering and other filter settings from django-filter in html template? Thanks!

[2017-06-07 14:52] rpkilby commented on #736
Hi @bene25 - it's recommended that usage questions are asked on Stack Overflow, since you're more likely to get a timely response. The issue tracker is intended more for bug reports & feature requests.

[2017-06-07 15:05] bene25 commented on #736
Thanks for suggestion!
https://stackoverflow.com/questions/44416370/get-filter-choise-in-template

[2017-06-07 15:21] raiviskrumins commented on #725
Thank you

[2017-06-07 15:21] #725 closed

[2017-06-09 09:04] #736 closed

[2017-06-09 18:09] rpkilby commented on #736
@carltongibson - btw, this seems related to #717/#534.

[2017-06-12 23:08] luis-wang commented on #562
@timothycoutlakis  this trick works for me, thanks.

[2017-06-16 08:35] carltongibson commented on #733
@leonprou Examine your FilterSet's form data: presumably you're getting an `EMPTY_VALUE` out of that. In this case no filtering will occur. (Your `filter_active` will never get called.)

You actually want a `Bool` here. `active` is `True/False` right?

Mapping from the `QueryDict` is the widget's responsibility, so I think you need to look at `django_filters.widgets.BooleanWidget` and override `va

[2017-06-16 08:35] #733 closed

[2017-06-18 22:27] rpkilby commented on #731
Hi @dwasyl - tests for translation support only exist for some features, so it's likely that there are some areas that aren't working correctly. The best thing you could do is to provide test cases for expected behavior.

Translation [tests](https://github.com/carltongibson/django-filter/blob/1.0.4/tests/test_filters.py#L1387-L1413).

[2017-06-19 06:40] carltongibson commented on #731
@dwasyl What's your import for `_`?

[2017-06-19 07:26] dwasyl commented on #731
@carltongibson I use `from django.utils.translation import ugettext as _`

There are no other problems with translations in my application, so I'm not quite sure what I'm missing here. The inherited `FilterSet` just seems to miss the language context.

@rpkilby I'll take a look through the translation tests, but I'm not entirely sure how to test for these issues.

[2017-06-19 07:49] carltongibson commented on #731
@dwasyl That explains it. You need to use `ugettext_lazy` since otherwise the labels are resolved at module import time, which is outside of the `request`'s translation context.

Review the [Lazy Translation docs](https://docs.djangoproject.com/en/1.11/topics/i18n/translation/#lazy-translation).

Update your import to:

[code]

I'm going to assume that solves it. Let me know if not.

[2017-06-19 07:49] #731 closed

[2017-06-19 10:05] depaolim commented on #160
in case of ChoiceField you can use:
`empty_label=None, null_value=<default-value>, null_label=<default-label>`

[2017-06-19 17:24] dwasyl commented on #731
@carltongibson Perfect! That fixed everything (once I'd sorted out some problems with concatenating strings with using ugettext_lazy).

One minor thing I noticed is that in `filters.py` `OrderingFilter`'s `descending_fmt` doesn't have the word `descending` marked for translation.

[2017-06-19 17:47] rpkilby commented on #731
@dwasyl - the translations could probably use a little maintenance. eg, the French translations were created four years ago, but the `OrderingFilter` rework was ~8 months ago.

[2017-06-19 19:12] carltongibson commented on #731
I'll take PRs for any improvements here.

[2017-06-20 22:12] fmoor opened #737 "release versions of the docs are not on readthedocs.org"
The docs on readthedocs.org only have `latest`, `stable`, `master` and `develop` as version options. As a library user I don't trust any of these because it is not obvious how they relate to a particular release version of the library. I have to checkout the version that I am using and build the docs locally, or read restructured text on git hub to be sure I am reading relevant documentation. I ca

[2017-06-21 06:02] devrishu opened #738 "Error : TemplateDoesNotExist django_filters/rest_framework/crispy_form.html"
Hi,

I am getting the following error:

TemplateDoesNotExist
Exception Value:  django_filters/rest_framework/crispy_form.html
Exception Location:	/home/dheeraj/.virtualenvs/ngcrp_env/lib/python3.5/site-packages/django/template/loader.py in get_template, line 25
Python Executable:	/home/dheeraj/.virtualenvs/ngcrp_env//bin/python3.5

Following are the packages I have:
django-filter

[2017-06-21 06:06] devrishu commented on #738
got it fixed by changing drf to 3.5 version

[2017-06-21 06:06] #738 closed

[2017-06-21 06:43] carltongibson commented on #737
I've removed `latest` and `stable`. `develop` and `master` correspond to the branches in the repo. `master` is always the latest release.

I'd take a PR on the docs adding a note to that effect.

[2017-06-21 06:43] #737 closed

[2017-06-21 06:46] carltongibson commented on #729
Hmmm.

My preference is for:

[code]

and then to go from there.

[code]

What's wrong with that? ☕️

[2017-06-21 06:47] carltongibson commented on #738
@devrishu I think a better solution is probably to make sure `django_filters` is added to `INSTALLED_APPS`. (That way the templates will be found.)

[2017-06-21 09:55] elcolie opened #739 "How to remove duplicate result?"
Thank you for your hardword. `django-filter` is very awesome.
I am new to your library. But it would be advantage for new comer.
[code]
The `pos` is an another model that holds data. And the `Django REST` returns the correct instances. But most of them are duplicated.

How to remove duplicated results?

[2017-06-21 10:33] carltongibson commented on #739
Use the [`distinct`](https://django-filter.readthedocs.io/en/develop/ref/filters.html#distinct) filter option.

[2017-06-21 10:33] #739 closed

[2017-06-21 15:59] devrishu commented on #738
@carltongibson  thanks for your help. It worked !!!

[2017-06-21 20:55] Alexx-G opened #740 "Allow to override retrieving of a queryset in a FilterSet"
The title may be a little bit confusing. It would be nice to have a generic `filter` method which is called everytime queryset is retrieved and filtering for fields is applied. Yeah, I can override `qs` property, firstly get filtered queryset and then apply prefetches. But _it's not clear if this may have some side-effects and the data passed to filter is safe to access._

There's my use case.
I'm

[2017-06-21 21:03] rpkilby commented on #729
ehh, the import causes the occasional hangup for newcomers. eg,

[code]

Ultimately, I'm kind of ambivalent on changing the import, especially since it would be a breaking change.

[2017-06-21 21:03] #729 closed

[2017-06-21 21:15] rpkilby commented on #729
The other reason I wanted to remove the block was to fix circular import error hiding. I've opened #741 instead.

[2017-06-30 16:57] sarvi opened #743 "Automatic __isnull filter field does not work in django-rest-framework usage"
The documentation says that defining <field-name>__isnull in the filter_fields for a django-rest-framework viewset should allow for filtering based on __isnull.
Didnt work for me.

I have the following code on the server side
from django_filters import rest_framework as filters
class SnapshotViewSet(views.ModelViewSet):
    serializer_class = volserializers.SnapshotSerializer
    filter_fields = (

[2017-07-03 20:13] orgkhnargh opened #744 "ChoiceFilter: don't call callable choices immediately"
When `choices` is a callable and it fetches data from DB, an error will be raised during first migration (`relation does not exist` for postgres) if filterset is imported when running manage.py, because ChoiceFilter will run `choices` at the time of importing the file in which the filterset is defined, which may happen before any tables are created. This may also be the case when `choices` callabl

[2017-07-04 16:33] eduardocalil opened #745 "Problem with chained filters and Django ORM"
As related in the issue #537, the Django ORM generate duplicated INNER JOINS for each `.filter()` .

For example:
`Model.objecs.filter(table1__attr1=value1).filter(table1__attr2=value2)`

The built query is:

[code]
But the **correct** query should be:

[code]

The first query may return unwanted or unexpected results.

Reading the code I found the method `def qs(self)` in class `BaseFilterSet` fr

[2017-07-04 19:24] carltongibson commented on #745
Still not yet convinced this is a DF issue, rather than an ORM one — what do the Django people say about this? This behaviour is as old as the ORM itself, so it's come up before.

There's an easy way to check that. 🙂 — Open an PR and see what breaks.

[2017-07-04 19:32] carltongibson commented on #744
My first inclination it to think you're imports are badly structured. You should be able to run your migrations without importing your filtersets. (Happy to see why that inclination is wrong...)

[2017-07-04 19:40] carltongibson commented on #745
Also, what do the DB people say? If I make a double join, is that not a no-op? (Maybe it isn't — but why not? And, why is this a DF issue?)

[2017-07-04 19:42] orgkhnargh commented on #744
Django loads urls config when running manage.py -> urls.py: `from app.views import SomeView` -> views.py: `from app.filters import SomFilter`. Are these imports considered badly structured?

[2017-07-04 19:45] carltongibson commented on #744
No. That seems fine. But I've not seen this particular problem, so I'm wondering why you are.

(You're evaluating a fixed set of choices at import time... — that can't be right — I add a new item, my choices change — they MUST be evaluated per instantiation... — your filter set definition can't be right.)

[2017-07-04 19:59] orgkhnargh commented on #744
I do not intend to evaluate the choices at import time, this is exactly why I made a separate function that generates a list of choices:

[code]

I'd expect `choices` to be evaluated when the filterset instance is created, or when filter itself is called, but instead it gets evaluated on filter definition, right there in `__init__`: https://github.com/carltongibson/django-filter/blob/7e949076a5dec

[2017-07-04 20:06] carltongibson commented on #744
Right, but `__init__` isn't called until the filter set is **instantiated**. Why are you **instantiating** your filter set at import time?

[2017-07-04 20:08] carltongibson commented on #744
Right, OK, I see. Yep, happy to consider solutions. 👍

[2017-07-04 20:13] orgkhnargh commented on #744
This worked for me:

[code]

`CallableChoiceIterator` is not a part of Django's public API, so I'm not sure if it's safe to use it here. It was ok for me right now, because my project uses a specific Django version that is know to have `CallableChoiceIterator`.

Any thoughts?

[2017-07-04 20:21] carltongibson commented on #744
Well the obvious one is just, why not return an generator or such from `get_choices`? (We'd at least add a note to the docs for that.)

Other than that, "Not sure, right now".

I'd need to have a look into `CallableChoiceIterator` to begin.

[2017-07-04 20:22] orgkhnargh commented on #744
Because of https://github.com/carltongibson/django-filter/blob/7e949076a5dec69811d081fd78838999c8abf374/django_filters/filters.py#L200
It gets evaluated there too.

[2017-07-04 20:36] carltongibson commented on #744
Fine. Yes. Of course it does.

OK. Your use-case seems legitimate. I'd take a PR on this. The starting point for that it a failing test case.

I'll take a look at `CallableChoiceIterator` but first guess would be we'll go with that. (The test matrix will give us some idea as to its stability.)

[2017-07-04 20:41] orgkhnargh commented on #744
OK, I'll start working on a PR when I have more time, probably on the next weekend.

Since it's not a part of Django's public API, it might be reasonable to include a version of `CallableChoiceIterator` into `django_filter` package itself.

[2017-07-04 21:56] rpkilby commented on #745
If I'm not mistaken, this specifically refers to filtering across [to-many relationships](https://docs.djangoproject.com/en/1.11/topics/db/queries/#spanning-multi-valued-relationships), which returns different results for `.filter(related__a=1).filter(related__b=2)` and `.filter(related__a=1, related__b=2)`. There are no issues for to-one relationships.

Nope - the second join is aliased as `T5`,

[2017-07-04 22:05] rpkilby commented on #745
Couple of side notes:

- I thought about changing filters to return `Q` objects, however this would prevent filters from using other parts of the queryset API. Filters like `OrderingFilter` would not be possible.
- Another solution is to use a subquery, but you need something to collect the related filters and create the nested query that they operated on. This is something I've started working on

[2017-07-04 22:12] rpkilby commented on #744
By the way, I believe this is a duplicate of #710. @orgkhnargh - could you install the branch from PR 680 and see if that fixes the issue?

[2017-07-05 05:22] rpkilby commented on #743
Hi @sarvi. My guess is that your settings are using the old filter backend that is provided *by DRF*. This has been deprecated in favor of the backend shipped with django-filter. The correct path is `django_filters.rest_framework.DjangoFilterBackend`.

[2017-07-05 06:47] carltongibson commented on #744
Yep. #680 looks good for this. @orgkhnargh care to give it a run? 👍

[2017-07-05 07:41] orgkhnargh commented on #744
#680 does make `relation does not exist` error go away. Closing this issue.

[2017-07-05 07:41] #744 closed

[2017-07-05 12:28] bluesurfer opened #746 "Unable to customize multiwidget.html"
I would like to customize the HTML template in `django_filters/widgets/multiwidget.html` but it seems that `django-filter` ignores my changes (I want to remove the hyphen "-" between widgets).

I have recreated in my templates directory the same path `django_filters/widgets/multiwidget.html`. This should override the default `multiwidget.html`, but instead nothing changes.

[2017-07-05 14:19] rpkilby commented on #746
Are you using a version of Django older than 1.11?

https://docs.djangoproject.com/en/1.11/releases/1.11/#template-based-widget-rendering

[2017-07-05 14:44] bluesurfer commented on #746
@rpkilby

Yes, Django 1.10.7

[2017-07-05 15:02] sarvi commented on #743
This is from my settings file
# REST FRAMEWORK Configuration Settings
REST_FRAMEWORK = {
    # Use Django's standard `django.contrib.auth` permissions,
    # or allow read-only access for unauthenticated users.
    'DEFAULT_AUTHENTICATION_CLASSES': (
        'rest_framework.authentication.TokenAuthentication',
        'rest_framework.authentication.SessionAuthentication',
    ),
    'DEFAULT_PERMI

[2017-07-05 15:28] rpkilby commented on #743
Oh, the problem is that the list syntax for `Meta.fields` only accepts *model field names*. `mirrorof__isnull` includes a lookup expression, which isn't valid. You would need to use the dict syntax. eg,

[code]

I wrote a brief test just to check, and I'm surprised that you don't get an exception (or maybe it's just hidden by the client code?) You should see something like...

[code]

[2017-07-06 00:14] osonwanne commented on #567
@tarkatronic That didn't work for me, still getting error:

`    DFBase = django_filters.rest_framework.DjangoFilterBackend
AttributeError: 'module' object has no attribute 'rest_framework'`

[2017-07-06 16:37] jordan9724 opened #748 "Can't pass in callable to ModelChoiceFilter"
I tried following the example the best I could, the example was:

[code]

My code is as follows:
[code]
When it is set up like this I get the error `'function' object has no attribute 'all'` because it tries to call "all" on the function (this happens elsewhere in the code) rather than using what is returned from the function

[2017-07-06 16:42] rpkilby commented on #748
What version of django-filter are you using? Could you provide a traceback?

[2017-07-06 17:09] jordan9724 commented on #748
Weird how things work when you upgrade them. Thanks for the help!

[2017-07-06 17:09] #748 closed

[2017-07-10 15:03] neokeats opened #749 "issue with model choice queryset override"
hi
before break changes on 1.0, i was able to do :

[code]

it's now ignored so i replaced it with :

[code]

but it's not working i gat an error :
[code]

thanx

[2017-07-10 15:45] rpkilby commented on #749
Hi @neokeats - could you install the branch from #680? It fixes a number of issues related to choice handling.

[2017-07-11 02:53] osonwanne commented on #567
Changing django-filter in requirements.txt from 1.0.1 to 1.0.0 fixed it for me.

[2017-07-11 03:10] rpkilby commented on #567
@osonwanne - That would make sense, since the import was added in the 1.0.1 release. Could you try installing the branch from #741? This shouldn't mask the import error and might give you a useful traceback.

[2017-07-11 08:36] neokeats commented on #749
hi,
[code]

still the same issue

[2017-07-11 10:19] neokeats commented on #749
Hi,
sorry, forget all, it was a totally unrelated issue.
the autocomplete did :
`from filters import user_filter`
instead of
`from filters.user_filter import user_filter`
so it was the file instead of the function that was used.

thanx

[2017-07-11 10:36] #749 closed

[2017-07-14 15:26] rpkilby commented on #743
Hi @sarvi - any followup here? Were your issues resolved?

[2017-07-14 20:40] sarvi commented on #743
The way I resolve the issue was to do this

[code]

I was expecting the following to work

[code]

The problem seems to be that mirrorof__isnull gets mapped to BooleanFilter from django_filter instead of django_filter.rest_framework

I have it working. But I think this is a bug

[2017-07-17 14:46] rpkilby commented on #743
Hi @sarvi - what happens when you do the following?

[code]

You *should* get a `TypeError` as I mentioned above. It doesn't make sense that you would get a valid FilterSet.

[2017-07-17 15:59] sarvi commented on #743
Hi @rpkilby
   Yes.  I do get the Type Error like you say I should.

But I wasn't trying that.
I was trying to list the filter fields directly in the viewset as follows. My understanding from the documentation is that this is the simplest way to define the filter fields for a viewset.

[code]
I do see the following warning, but can't tell what that warning means.
I don't see any TypeError in this

[2017-07-17 18:26] rpkilby commented on #743
If you look at the underlying [code](https://github.com/carltongibson/django-filter/blob/1.0.3/django_filters/rest_framework/backends.py#L40-L43), the example is essentially the same as setting `filter_fields`. You *should* also be getting a `TypeError` with the following:

[code]

The schema generation compatibility warning is an artifact of the underlying `TypeError`. Are you using the coreapi c

[2017-07-19 04:41] sarvi commented on #743
yes. I am using coreapi to fetch the data. Ok I sorta get it now. Looks like coreapi is some home masking the original error. Is there a better way for me to set the environment such that I am able to see the original TypeError?

I think this issue can be closed.

[2017-07-19 09:55] rpkilby commented on #743
This is a breakdown of what's happening:

- The example usage of `filter_fields` is invalid, and a `TypeError` is raised when the backend attempts to generate the `FilterSet` class.
- The coreapi client relies on the backend to generate a coreschema description of the filterset's fields.
- Schema generation fails due to the original `TypeError`. A warning is raised, but this masks the relevant det

[2017-07-19 22:35] rujun-dai commented on #211
Hi, I am wondering how you used autocomplete_light. I just used pip install django-autocomplete-light to install, but I can not put 'autocomplete_light' in setting.py, it seems like 'autocomplete_light' does not exist. @wofl

[2017-07-20 05:21] rpkilby commented on #211
Hi @rujun-dai - this question is over two years old, and DAL has gone from version 2.0.7 to 3.2.9 during this time. I'd recommend reading the current [docs](https://django-autocomplete-light.readthedocs.io/en/master/install.html) for DAL, as the API has likely changed.

[2017-07-20 16:57] rpkilby commented on #746
Sorry - I didn't exactly wrap up that thought. Overriding the `django_filters/widgets/multiwidget.html` template has no effect because template-based widget rendering was introduced in the Django 1.11 release. I'd say this can be closed off as expected behavior. The solution is to either:

- Upgrade to Django 1.11+
- Override the [`format_output`](https://github.com/carltongibson/django-filter/blo

[2017-07-24 20:37] msbt opened #751 "FilterSet resolved field 'image' with 'exact' lookup to an unrecognized field type ImageField..."
Hi there!
I know this issue has been addressed [here](https://github.com/carltongibson/django-filter/issues/564) already, but I just can't find a proper solution.

I have a model with a Store class that contains various information about different stores and includes also a field with image = models.ImageField to display when querying for it.

I tried everything from the docs, but it seems to be i

[2017-07-25 12:56] rpkilby commented on #751
Hi @msbt - I'd wager that some information has been left out here. I ran a quick test, and the mentioned `AssertionError` was not raised. As you can see below, no filter for the image fields was created.

[code]

Could you provide the full model & filter code? If not, a distilled example that demonstrates the issue would be helpful.

[2017-07-26 00:26] dvl commented on #695
I did something like this today and I want to leave it here maybe can help someone.

[code]

[2017-07-30 10:52] msbt commented on #751
Hey, thanks for getting back to me! Give me a bit more time to figure out what I might have done wrong, would be embarassing if it was a rookie mistake ;)

[2017-08-01 13:49] eduardocalil commented on #745
I think that I've finally found the solution for this issue. Inside the model **QuerySet** exists a method called `_next_is_sticky()`. It prevents the duplicated INNER JOINS. You will undestand it better after reading a very short documentation about this method in the following link:

https://kite.com/docs/python/django.db.models.query.QuerySet._next_is_sticky

Here is my Pull Request: https://gi

[2017-08-01 13:50] eduardocalil commented on #745
But It has not passed in django-rest tests. Can someone who understands how it works help me?

[2017-08-02 06:32] jter opened #754 "Proposal for getting help_text from model fields"
It would be great that filters of `FilterSet` could get `help_text` from fields of Models. This feature can save some repetitive work when we need `help_text` for auto-generated docs from model fields without redefining the filters in `FilterSet`. Could this proposal be a good idea?

[2017-08-04 21:46] camd opened #755 "BaseInFilter should prevent query on empty value"
I had a user that submitted the following request:

    /api/jobdetail/?job_id__in=

This ended up returning EVERY jobdetail record which, with the size of our DB, was huge and timed out with a very long running query.  A few of these at a time caused a serious slow-down on our server.

We are using a filter for this field like so:

    class NumberInFilter(django_filters.filters.BaseInFilter,

[2017-08-06 04:45] tamhv opened #756 "OrderingFilter widget select multiple"
I'm trying to use OrderingFilter, it says "Multiple values may be separated by commas." but users can't pick multiple
[code]
<img width="506" alt="screen shot 2017-08-06 at 11 26 19 am" src="https://user-images.githubusercontent.com/5440638/29000669-56e5a5a0-7a9c-11e7-8bfd-67065d9d9c31.png">
I try to override widget `widget=forms.SelectMultiple` but it doesn't work

`'list' object has no attribute

[2017-08-07 16:15] rpkilby commented on #755
Hi @camd - instantiating the filter with `required=True` should provide the expected behavior.

[2017-08-07 17:09] rpkilby commented on #756
Hi @tamhv. Sorry, the help text is a little misleading here. The quick answer is that you may just want to simply disable the `help_text`. I'm opening a PR that does this.

The longer answer is that `OrderingFilter` inherits from `BaseCSVFilter` and can accept multiple values separated by commas (eg, `?o=pk,first_name`). However, this value isn't possible to create with standard HTML select widget

[2017-08-08 19:36] rpkilby commented on #754
Hi @jter. I feel like this has been talked about before, but I can't find the relevant discussion. In short, this suggestion works well for FilterSets like...

[code]

Adding the `help_text` is reasonable in this case, since the filter's data type matches the data type of the underlying model field. eg `/api/users?username=jter`

However, `Meta.fields` can also be used like so:

[code]

In this ca

[2017-08-09 03:46] AlJohri opened #758 "The app cache isn't ready yet, so if this is an auto-created related field, it won't be available yet."
I'm running into an issue where if I import a particular file too early, I get this error: `TypeError: 'Meta.fields' contains fields that are not defined on this FilterSet: xyz`. This is occurring because the [`MyModel._meta.get_field` method](https://docs.djangoproject.com/en/1.11/_modules/django/db/models/options/#Options.get_field) raises FieldDoesNotExist if the "app cache" isn't ready yet.

s

[2017-08-09 07:01] carltongibson commented on #758
@AlJohri There's not enough here to say exactly where your issue is coming up... It looks like you're doing things _too early_ (hence the app cache error) but I couldn't say what. You need to review your code to pin down the exact issue.

(The general rule is that you can **use** a model at import time.)

I don't think this is a Django Filter **issue**. I'm happy to look again if you can pin down

[2017-08-09 07:01] #758 closed

[2017-08-09 11:58] AlJohri commented on #758
I was importing serialzers across apps which were defined in a views.py file, the same file on which the filter sets were defined. By moving the serialzers into their own file, the cross app import worked fine. Thanks for the response @carltongibson

[2017-08-09 12:18] #756 closed

[2017-08-15 03:17] rpkilby commented on #740
Hi @Alexx-G. I think this could be possible with some coordination between the filterset and relevant filter classes. Essentially, the filter would append a `Prefetch` instance to its `parent` filterset. `FilterSet.qs` would then simply call `prefetch_related` when appropriate.

That said, what's the use case for this? I would argue that there are likely more appropriate places to handle prefetchi

[2017-08-15 08:33] Alexx-G commented on #740
I've already solved my issue by overriding `qs` property, but again, it's not obvious and it's not documented. In other words, I can't be sure that some internal changes in the base class won't affect my filterset (ok, I've pinned version, but anyway..)

I believe I described above my use case. It doesn't make sense to separate filtering and prefetching, because prefetching depends on filters. And

[2017-08-16 22:22] camd commented on #755
In my case, there are several parameters that could be passed in.  Sometimes the user can pass in combinations of them.  So none of them are necessarily required.  But if they're passed, in, we want a valid value.  Perhaps a ``not_empty`` argument would be appropriate for that?

[2017-08-17 06:59] carltongibson commented on #755
@camd At this stage I'm inclined towards you creating your own Filters exactly as you have (although validation belong on the `form` so I might move the check there).

`?job_id__in=` is identical to not providing the value at all — no filtering will occur. This is the intended behaviour. (I'm not at all inclined to change that.)

You should **always** `LIMIT` your QuerySets. That's not Django-Filt

[2017-08-17 06:59] #755 closed

[2017-08-17 17:06] ramusus opened #759 "AttributeError: 'NoneType' object has no attribute 'splitlines'"
I've got error installing package
[code]

[2017-08-17 17:07] ramusus commented on #759
That's strange but I solve this easily
[code]

[2017-08-17 17:07] #759 closed

[2017-08-23 13:27] berkerpeksag opened #763 "Is there a way to disable 'exact' lookup?"
Here's my `FilterSet`:

[code]

With `/api/v2/downloads/release_file/?description=Windows`, it returns `ReleaseFile.objects.all()`. I think this is the wrong behavior. I would expect to get a 400 status code with a message saying something like:

[code]

Is there a way to workaround this behavior?

Thank you!

[2017-08-23 20:26] rpkilby commented on #763
Hi @berkerpeksag. As you have already determined, the correct query needs to include the lookup.
[code]
What's happening is that the `description` query param is not recognized by the FilterSet, so it's simply ignored when filtering. This request is equivalent to:
[code]

Unfortunately, the `FilterSet` only recognizes its defined parameters (`name`, `slug`, and `description__contains`). While it c

[2017-08-23 20:35] yaplej commented on #743
I was having a very similar problem.  Im using filtering, searching and sorting but trying to filter on __isnull would not work.  I tried what @sarvi did and was able to get it working.

[code]

[2017-08-23 20:43] rpkilby opened #764 "get_schema_fields warning is too broad"
The catchall exception handling is a little too broad, and can obscure the exception for improper use of `filter_fields`. This is described more fully in #743.

One fix would be to include the original exception's message in the warning text (maybe even the stack trace?).

[2017-08-23 20:55] rpkilby commented on #743
Hi @yaplej. Most likely, `Meta.fields` contains a lookup  or an invalid model field. It's not possible to determine this without seeing the corresponding models. I'd try to instantiating the `FilterSet` in your python shell and see what errors are raised.

@sarvi - yep. I've opened a separate issue to specifically address the warning's message.

[2017-08-23 21:01] yaplej commented on #743
Hello @rpkilby honestly I'm just fumbling though this right now learning as I go.  I entirely expected I was doing something wrong but excited someone else bumped into it and had a solution.

[code]
and my Model
[code]

[2017-08-23 21:15] rpkilby commented on #743
My only guess is that either your `AssetType` model or `AssetModel` model does not have a `name` field, so `asset_type_fk__name` or `model_fk__name` fails.

Otherwise, this is difficult to debug without a meaningful stack trace. If there is an issue with `Meta.fields`, then the class should raise an appropriate exception.

[2017-08-24 05:31] #763 closed

[2017-08-24 08:42] frague59 opened #765 "Form rendering"
Hi,

I'm using django-filter with crispy, and I'm trying to use the Meta.form option to a filterset.

+ My filter declaration

[code]
+ My form declaration

[code]

When I render the form, it is "partially" rendered : I've defined some "label" in the **form fields**, but they are not used in the rendering, the **filter** fields label seems to be rendered instead.

I can set my **label** to the fil

[2017-08-24 08:47] carltongibson commented on #765
Look at the [`form` property implementation](https://github.com/carltongibson/django-filter/blob/develop/django_filters/filterset.py#L238-L252). If `ManifestationSearchForm` is fully configured you'll want to override this to just instantiate your form and return it, rather than setting fields based on the `FilterSet`.

[2017-08-24 08:47] #765 closed

[2017-08-24 08:53] rpkilby commented on #765
Additionally, you may want to look at [`django_filters.rest_framework.FilterSet.form`](https://github.com/carltongibson/django-filter/blob/1.0.4/django_filters/rest_framework/filterset.py#L25-L42).

[2017-08-24 11:15] berkerpeksag commented on #763
Thank you for the suggestion, @rpkilby. Unfortunately, I would still need to catch `ValidationError` and raise 400 (and by the way, I'm porting a Tastypie app to DRF so I need to match behavior of the legacy API)

I think ignoring an invalid filter and returning `Model.objects.all()` instead would cause a security problem if `Model` has a lot of records in it (for example, someone can query invali

[2017-08-24 12:23] rpkilby commented on #763
Sorry - I should have specified that you'd want to raise DRF's `serializers.ValidationError`, which should be caught by DRF's [exception handling](http://www.django-rest-framework.org/api-guide/exceptions/#exception-handling-in-rest-framework-views) and return an appropriate 400 response.

I'd argue that the API should only return resources that should already be accessible to the user. In this ca

[2017-08-24 12:53] frague59 commented on #765
OK, I've got it... (and thank you for this project !)

I've renamed my fields to match the filterset filter names, aka.:
[code]
Then I've linked the form to the filterset:
[code]
I'm not using localization for my strings (big old project, too much work to localize it properly), even if USE_L10N is activated, and LOCALE set to "fr".

When rendered, the field label is now:

**Titre contains**

where

[2017-08-24 13:15] rpkilby commented on #765
I don't think you can override the form fields in that manner. Basically, the `Meta.form` is subclassed with  fields [derived from filters](https://github.com/carltongibson/django-filter/blob/1.0.4/django_filters/filterset.py#L223-L228). Your declared `title__icontains` field would simply be overridden.

However, you could override the field's label in the form `__init__`. Something like...

[code

[2017-08-24 13:22] berkerpeksag commented on #763
Thank you! `serializers.ValidationError` definitely did the trick.

[2017-08-24 13:49] frague59 commented on #765
Thanks for your help !

Basically, I'm building a django-tables2 based list view...

I'ld like to display a search form on top of the page, then the table. I'dl like to use crispy to tune the search form display (form layout...), and use django-filter filtering. Finally, I'ld like to use some "special" widgets (select2 / bootstrap3_datetimepicker)

Using a search form to bind the widgets + crispy

[2017-08-24 14:46] rpkilby commented on #765
If you're customizing a number of attributes on the filter, it might be simpler to declare the filters instead of relying on `Meta.fields` and overriding `__init__`. The above could be accomplished with:

[code]

Any keyword arguments not used by the `Filter` are automatically passed to its form field's constructor.

----

I'd recommend looking at the django-filter tag on stackoverflow. There have

[2017-08-26 23:51] Megido6 opened #767 "How to translate option values in select field?"
i have some select fields in my form.  fields is foreignkeys of other models.
i got english values from db and want  translate it to other languages in my filter form.

[2017-08-28 17:42] sergiomb2 opened #768 "[Question] How override DjangoFilterBackend for JSONFields ?"
Hello ,
I'm trying set filter for json parameters in very esay way , i.e., like all json is one text field .
I got
AssertionError: CiTypeFilter resolved field 'parameters' with 'exact' lookup to an unrecognized field type JSONField.

but if in `class CiTypeFilter(filters.FilterSet):`  add    `parameters = django_filters.CharFilter(lookup_expr=['icontains']) ` it works as I want .

Now what I want

[2017-08-28 20:55] rpkilby commented on #768
There are a few options:
- Use the [`Meta.filter_overrides`](http://django-filter.readthedocs.io/en/develop/ref/filterset.html#filter-overrides) option.
- Subclass and modify the [`FILTER_DEFAULTS`](https://github.com/carltongibson/django-filter/blob/1.0.4/django_filters/filterset.py#L164) attribute. [`rest_framework.FilterSet`](https://github.com/carltongibson/django-filter/blob/1.0.4/django_filt

[2017-08-28 21:05] rpkilby commented on #767
Hi @Megido6 - it's recommended that usage questions are asked on Stack Overflow since you're more likely to get a timely response. The issue tracker is intended more for bug reports & feature requests. Additionally, it will be helpful to provide an example to more clearly illustrate what you're intending to do.

[2017-08-30 20:22] darkpixel opened #769 "request object unavailable for ModelChoiceFilter queryset= callable"
I get "No request object" printed to the console when client_filter or site_filter executes.
I tried this with the latest version installable by pip (1.0.4), and also by installing from HEAD.
I think I'm using it as per the docs... :)

[code]

[2017-08-30 20:29] rpkilby commented on #769
Hi @darkpixel - could you try testing the branch from #680? There are a number of issues related to `choices` handling.

[2017-08-30 21:08] darkpixel commented on #769
Yeah.  Give me a few minutes to install and test.

[2017-08-30 21:13] darkpixel commented on #769
I pulled down this branch: https://github.com/rpkilby/django-filter/tree/null-filtering

The request object is still None.

[2017-08-30 21:16] rpkilby commented on #769
Hm. How your calling the FilterSet? It's possible that the `request` object simply isn't being passed in.

Try:

[code]

[2017-08-30 21:37] darkpixel commented on #769
From __init__ the request object is still None.

I'm calling it from the following view:
[code]

[2017-08-30 22:02] rpkilby commented on #769
Gotcha, so this is an issue in the view code, not the inner workings of the `FilterSet`/`Filter` classes.

It's not clear to me where the filterset is instantiated in the view. You've inherited from [`FilterMixin`](https://github.com/carltongibson/django-filter/blob/1.0.4/django_filters/views.py#L11-L58), but that class simply provides the primitives for constructing a filterset. The `get_filterse

[2017-08-30 22:22] darkpixel commented on #769
Blast it.  Yeah--I see the problem.  FilterMixin was a custom class designed around an older version of django-filter several years ago.  It's all hosed up.  I'm going to rip that out and go with the generic FilterView class.  Sorry for the noise.

[2017-08-30 22:22] #769 closed

[2017-08-31 07:34] #710 closed

[2017-08-31 07:36] #425 closed

[2017-08-31 08:23] rpkilby commented on #687
Hi @carltongibson - both this and #688 can be closed, now that #691 is merged.

[2017-08-31 08:53] rpkilby commented on #726
This is related to #710. `ChoiceFilter` was resolving its `choices` during init, which then had the effect of resolving `ModelChoiceFilter.queryset`. I think this can be closed now that the related PR has been merged. @italomaia - you should be able to install the `develop` branch to have the desired behavior.

[2017-08-31 09:23] #768 closed

[2017-08-31 09:26] #767 closed

[2017-08-31 09:27] #743 closed

[2017-08-31 09:29] #701 closed

[2017-08-31 09:29] #746 closed

[2017-08-31 11:23] sergiomb2 commented on #768
please exemplify , I already read documentation before made the question you mean :

class CustonFilterSet(filterset.FilterSet):
FILTER_DEFAULTS= deepcopy(filterset.FILTER_FOR_DBFIELD_DEFAULTS)
FILTER_FOR_DBFIELD_DEFAULTS.update({
    models.JSONField: {'filter_class': something},
})

where do I have "something"  ? I want modify for all django project not for one model only , that I already done .

[2017-08-31 11:40] rpkilby commented on #768
[`Meta.filter_overrides`](http://django-filter.readthedocs.io/en/develop/ref/filterset.html#customise-filter-generation-with-filter-overrides) is simply copied over `FILTER_DEFAULTS` and shares the same format. In your example, you wanted to map JSONFields to a `CharFilter` with an `icontains` lookup.

[code]

[2017-08-31 15:36] sergiomb2 commented on #768
icontains is under a list to work ! here is my snippet
Thanks a lot.

[code]

[2017-09-04 20:31] kjschiroo opened #772 "Missing import django_filters in docs code snippet"
In [Adding a FilterSet with filter class](https://django-filter.readthedocs.io/en/develop/guide/rest_framework.html#adding-a-filterset-with-filter-class) the code snippet appears to be missing an `import django_filters`

[2017-09-05 05:22] carltongibson commented on #772
Hi.

I think you made the PR against your own repo. Oops.

More though, I don’t think the import is missing.  It’s the line below the one you added.

[2017-09-05 05:22] #772 closed

[2017-09-05 11:21] kjschiroo commented on #772
Yep, I screwed up the PR. I see it now, you aren't necessarily missing an import statement, but something does need to change. Exploring in the shell:
[code]

[2017-09-05 11:57] anx-ckreuzberger opened #774 "Alias names for filter and multiple comperators"
First of all: Apologies if this topic is covered already in another issue, PR or SO post. I didn't manage to find anything that got remotely close.

Second: I am using Django Rest Framework and django-filter 1.0.4 with the Django ORM.

**My Problem:**

I have a ``Meeting`` model which (for legacy reasons) has the fields ``date_time_start`` and ``date_time_end``. I want to create a Filter Class ``M

[2017-09-05 12:14] anx-ckreuzberger commented on #774
Quick update:

I've digged a little and I found that the function ``get_filter_name`` does some magic that could help me here. If I monkey patch this method as follows, my problem is solved (temporarily):
[code]

The filter would look like this:
[code]

However, I **hate** having to monkey patch this... Therefore I would like to propose the following two options:

**Option 1**
Make ``get_filter_na

[2017-09-05 12:40] carltongibson commented on #774
Hmmm. Interesting.

Given that you definitely want `end_date__lt` style rather than the separate parameter to specify the lookup type (which we could adjust the names on) , it seems the object to typing. 😀

That's not a problem. **But** the way you're doing it is right. Declaring the filters explicitly is the recommended way.

I won't introduce more meta options.

I can see the case for `get_filte

[2017-09-05 13:02] anx-ckreuzberger commented on #774
Thanks for your reply! I think the for loop can not live in ``__init__``, as there are several things about the filter that are class based, and not instance based (but correct me if I am wrong here).
I've tried doing it in the class ``__new__`` method, but I failed to create the filters there (they require a QuerySet etc... to create a new instance).

[2017-09-05 13:08] carltongibson commented on #774
You'd have to mungle `base_filters` I guess — but other than that you should be OK. (In general building filter sets at runtime should be available, so if there are issues you run into doing that I'd be happy to look at them.)

More to your point I don't see a problem in moving `get_filter_name`

[2017-09-05 13:15] carltongibson commented on #774
But even that... I don't think you'd have an issue.

[2017-09-06 18:26] ChristianKreuzberger commented on #774
Sorry for not trying this earlier. You are absolutely right, I can do this in the ``__init__`` method.
Here are my findings:

[code]

The above code works just fine. However, the extra code required here isn't really pretty (and with pretty I mean understandable) compared to overriding the ``get_filter_name`` method (Note: This code example isn't working yet, it's an example of what I am trying to

[2017-09-06 18:30] rpkilby commented on #774
Making `get_filter_name` a classmethod seems sensible to me.

[2017-09-06 21:01] twidi opened #776 "`filter_for_lookup` cannot be overriden"
Summary
------------
`filter_for_lookup`  is a class method, but is called in the metaclass, so when `super` is called, the class does not exist yet.

So, contrary to what is in the documentation, it's not "really" possible to override this method.

You'll find below different important library versions, the steps to reproduce the error, and a temporary workaround

Versions
--------
Python: 2.7.9

[2017-09-07 08:26] rpkilby commented on #776
Interestingly enough, `super(MyFilter, cls)` also fails in python 3.x, but the terser `super()` call *does* work.

My recommendation would be to upgrade to python 3 😉

[2017-09-07 08:26] rpkilby commented on #776
For reference:
https://stackoverflow.com/questions/12757468/invoking-super-in-classmethod-called-from-metaclass-new

[2017-09-07 11:15] rpkilby commented on #776
One possible workaround that would be python 2 and 3 compatible is to use an intermediate FilterSet. eg,

[code]

[2017-09-07 11:28] carltongibson commented on #776
I’m inclined towards “Use Python 3.6+ or do this ⬆️“ here

[2017-09-07 11:38] rpkilby commented on #776
Basically, there are three options:
- `super()` w/ python3.6+
- Hardcoded class names in python < 3.6
- Use an intermediate class to define the class methods, which is compatible with all versions

[2017-09-08 11:50] twidi commented on #776
The intermediate class is smart. Thanks for all the participation.

[2017-09-14 07:07] linkdd opened #779 "Filter on nested ManyToMany"
In my data model, I need to filter a set of rows according to a user which is accessed through a nested ManyToMany relationship.

Here is my model (simplified version):

[code]

Here is my filter:

[code]

While this work fine to filter on simple ManyToMany relationships (as seen in the unit tests and in several other cases of my code), I get the following error when I try the same on a nested Man

[2017-09-14 10:29] gsvr opened #780 "IsoDateTimeFilter problems comparison other than 'exact'"
I've been trying to implement the filtering described here: http://django-filter.readthedocs.io/en/develop/ref/filters.html#isodatetimefilter

While that method works, I wanted more than just 'exact' matching, so I replaced:
`fields = ['published']`
with:
`fields = {'published': ['exact', 'gte', 'lte']}`
This still works for 'exact' filtering with an IsoDateTime, but for 'gte' and 'lte', it fails

[2017-09-14 11:05] carltongibson commented on #780
Hmmm. My first response it to just accept this as a limitation of the dictionary `fields` syntax. Declaring fields explicitly — your "workaround" — is the canonical way to do it. The dictionary syntax is just a shortcut, and there's no problem with it having limitations.

Having said that, I'd take a change with a small footprint to "fix" this...

[2017-09-14 11:13] linkdd commented on #779
It seems like it's not a ``django-filter`` issue.

Django itself is not capable of filtering in such a way.

[2017-09-14 11:13] #779 closed

[2017-09-14 11:16] linkdd commented on #779
Another last comment, as I just saw my error.

The related name was ``user``, and not ``user_set``, so the filter needs to be ``roles__user``.

[2017-09-14 15:47] rpkilby commented on #780
You can use `Meta.filter_overrides` to change the filter class used for a model field.

[code]

[2017-09-14 19:25] gsvr commented on #780
@carltongibson I'm happy with accepting the limitation. I tried looking for a quick "fix" but my understanding of the inner workings of the code is too limited at the moment :/

@rpkilby Thanks, your suggestion works well, I'll use that going forward :)

@carltongibson Would you like to note this limitation in the docs? I'm happy to make a pull request for it if you think it's appropriate.

[2017-09-16 07:39] ArtemBernatskyy commented on #695
@dvl it says

`  File "/var/webapps/reactmusic/code/reactmusic/audio/views.py", line 20
    filters |= Q(**{f'{name}__{self.lookup_expr}': value})
                                                ^
SyntaxError: invalid syntax
`
:)

[2017-09-16 07:44] rpkilby commented on #695
@ArtemBernatskyy - Which version of python are you using. fstrings are only available in python 3.6

[2017-09-16 07:49] ArtemBernatskyy commented on #695
@rpkilby 3.5 , if it is necessary i can set up it under pyenv

[2017-09-16 07:52] rpkilby commented on #695
@ArtemBernatskyy - You would have to use python 3.6, since fstrings are only available in python 3.6 and above. Alternatively, you can just change the format statement.

from this:
[code]

to this:
[code]

[2017-09-16 08:03] ArtemBernatskyy commented on #695
@rpkilby one more thing, it says

`  File "/var/webapps/reactmusic/env/lib/python3.4/site-packages/django_filters/utils.py", line 170, in verbose_field_name
    parts = get_field_parts(model, field_name)
  File "/var/webapps/reactmusic/env/lib/python3.4/site-packages/django_filters/utils.py", line 83, in get_field_parts
    parts = field_name.split(LOOKUP_SEP)
AttributeError: 'list' object has no

[2017-09-16 08:34] ArtemBernatskyy commented on #695
For anyone who comes here i ended up with this, NOTE it doesn't uses django-filter

    class AudioListView(ListCreateAPIView):
        renderer_classes = [JSONRenderer]

        def get_queryset(self):
            """
            Optionally restricts the returned purchases to a given user,
            by filtering against a `username` query parameter in the URL.
            """
            querys

[2017-09-17 16:01] mwisner commented on #727
I spent some time myself running into this problem, and I think @carltongibson solution definitely helps some issues for me.

I was attempting to do something like:

[code]

Using DRF & a url of: `?id__in=a,b,c`

However it seems as though using `  widget=widgets.CSVWidget ` actually casts the list as a string somehow?

Printing the value of the filter results in ` "['a', 'b', 'c']"`
the actual_fi

[2017-09-19 03:22] jter commented on #754
Thank you for your illustrating, clear and useful.
@rpkilby

[2017-09-21 17:00] rpkilby commented on #727
`CSVWidget` is correctly returning a list of values, however [`CharField.clean()`](https://github.com/django/django/blob/1.11/django/forms/fields.py#L238) is coercing the list back into a text value, hence `"['1', '2', '3']"`. It's not sufficient to pass `CSVWidget` to the filter - the form field needs to be overridden to accept a list of values.

The easiest way to get the correct field behavior

[2017-09-21 18:10] rpkilby commented on #751
Hi @msbt - did you ever figure out what was going on, or can this be closed?

[2017-09-22 12:13] nanopony opened #781 "Proposal for lookups within several fields with OR"
**Example problem this proposal solves**: Order has relation to UserProfile; user would like to find every order made user, whose `first_name` or `last_name` contains "Xi"

**Solution proposal**: (right now I use this semantics via monkey-patching of `Filter` class)
[code]
I apologize in advance if similar proposals was made (search resulted in none), or if the semantic looks off; I really would l

[2017-09-23 13:30] msbt commented on #751
I don't have time right now, so lets close it up and revisit when I'm trying again and get stuck ;)

[2017-09-23 13:30] #751 closed

[2017-09-27 23:23] lissizza opened #785 "How to pass argument from DRF ModelViewSet to FIlterSet?"
Hi,
I'm using django-filter with DRF, and stuck on one issue. I have an url like `api/v1/stuff1/<stuff1_id>/stuff2/`. So, I get `stuff1_id` in my view from kwargs and can pass it to `FilterSet` with `get_filterset_kwargs` method. But I have no `get_filterset_kwargs` in DRF `ModelViewSet` and can not understand in any way how I can pass my id to `FilterSet`?

[2017-10-03 17:21] josert commented on #745
As a quick win it would be really great to adapt this behavior until a more consistent feature was available (as a config parameter to determine if it is desired to work with `stiky` or not in the current filter).

Current behavior breaks the possibility to use this magnificient plugin in project where is neccessary to filter between relations as these, a real shame : (

[2017-10-05 20:11] stvkas commented on #745
I agree that the `_next_is_sticky()` approach looks promising; however, I found the implementation in PR #753 brakes the desired behavior of `ModelMultipleChoiceFilter` where `conjoined=True`. As you might imagine, it executed an SQL query along these lines and returns the empty set.

[code]

Having a solution to this to-many chaining issue would greatly simplify my REST API that uses django-filte

[2017-10-06 06:40] carltongibson commented on #745
I'm essentially -1 on making a change here.

First off, I'm not going to add anything on the basis of it being "a quick win" — that way lays trouble later.

Second, more to the point, it seems to me you should be handling this with a custom filter, custom field using a multi-widget. i.e. a single field expecting multiple values which is then used in a single `filter` call on the queryset.

I'd be

[2017-10-09 19:21] rpkilby commented on #745
For what it's worth, I've been making a lot of headway on the nested filtering issue. Basically, queries will go from

[code]
to something like
[code]

In addition to enabling the correct behavior for to-many relationships, this will allow us to enable request-based filtering on related queries. eg, those entries that are currently published or are in the process of being authored by the user.

[c

[2017-10-10 10:25] carltongibson commented on #745
@rpkilby Push your branch. Let's see what you've got. 🙂

I don't want anything too complex. The point of DF is to _avoid common boilerplate_. There's nothing wrong in writing the filtering logic by hand in non-core cases. I much prefer that to _magic_ no-one can debug.

[2017-10-17 14:25] #687 closed

[2017-10-17 14:28] carltongibson commented on #745
Closing this as per #753

[2017-10-17 14:28] #745 closed

[2017-10-17 14:29] #774 closed

[2017-10-17 14:40] #726 closed

[2017-10-17 14:41] #724 closed

[2017-10-17 14:41] #727 closed

[2017-10-17 14:42] #754 closed

[2017-10-17 14:42] #776 closed

[2017-10-17 14:43] #780 closed

[2017-10-17 14:44] carltongibson commented on #781
This should be handled using the `method` parameter. You do your OR filtering in the custom method.

[2017-10-17 14:44] #781 closed

[2017-10-18 01:16] rpkilby commented on #745
@carltongibson, I'm fairly close to pushing out a PR, but it's for the drf-filters project. And it's been discussed in the past, but the package is not at a state where I would feel comfortable merging it into django-filter.

[2017-10-18 05:20] carltongibson commented on #745
OK. Cool. Drop a note here when it’s ready. I’ll have a look.

[2017-10-18 20:32] OskarPersson opened #794 "Apply filter to nested content in serialized data"
Say I have a `Product` model that belong to a `Company`, now I want to filter the products and group the results by the company they belong to at `api/companies?product=foo`.

I have set up the following serializer and filter that will list all companies that have at least one product matching the filter, but this will also list **all other** products for each company. How do I apply the filter to

[2017-10-19 05:37] rpkilby commented on #794
This sounds very similar to #740. In short, you need to prefetch the related products based on the filter value. Ultimately, you're trying to construct the following:

[code]

The way to do this is to override the `FilterSet.qs` property and add in the prefetching. You would want to do something like the below.

[code]

Note that overridding the .qs property is a little awkward, and should be impr

[2017-10-19 13:22] danielhers opened #798 "TypeError: get_filter_name() takes 2 positional arguments but 3 were given"
Using the new 1.1.0 release, I get this error.

See here: https://travis-ci.org/danielhers/UCCA-App/jobs/289970765

[2017-10-19 13:39] carltongibson commented on #798
What's this?:

[code]

I'd guess your issue is there.

(I'm going to close this. Happy to re-open if there's actually a DF issue.)

[2017-10-19 13:39] #798 closed

[2017-10-19 13:44] danielhers commented on #798
Thanks for your response.
So you're saying djangorestframework-filters (latest, 0.10.1) is not compatible with django-filter 1.1.0, because of [this line](https://github.com/philipn/django-rest-framework-filters/blob/master/rest_framework_filters/filterset.py#L19)?

[2017-10-19 13:49] carltongibson commented on #798
I'm just looking at the stack trace. That's not my file, so I can't vouch for it.

(Aside: you should put a bit more effort into your issue descriptions. It helps to review. It's not much fun having to click lots of links and work things out. Especially when it's your issue your looking for help on... 🙂)

[2017-10-19 13:54] danielhers commented on #798
Fair enough. Apologies for the terseness and thanks for the help.

[2017-10-20 08:58] cicuz opened #799 "How about capturing variables from URLs?"
Hello, a quick question:

has it ever been considered to add support for getting search parameters off URL variables?
It doesn't seem to be easily/readily possible now..

[2017-10-20 09:05] OskarPersson commented on #794
That works great, thanks!

Now to find a way to do the same with the [SearchFilter](http://www.django-rest-framework.org/api-guide/filtering/#searchfilter) 🤔

[2017-10-20 09:05] #794 closed

[2017-10-20 09:35] carltongibson commented on #794
@OskarPersson _SearchFilter_ — ` WHERE ... ILIKE ... ` (shudder)

Use a proper search solution, Django's own, or Django Watson (which is great BTW) or...

Then wrap the actual filtering in a function and pass it to CharFilter (say) as the `method`.

NTS: we should have some patterns for this in the docs at least.

[2017-10-20 09:36] carltongibson commented on #799
Does `filter.form.cleaned_data.keys()` give you what you want?

[2017-10-20 09:37] carltongibson commented on #799
Or even just `request.GET.keys()`?

[2017-10-20 12:26] cicuz commented on #799
I think I meant to ask if it exists a filter backend that can handle URL regex-variables, or if it is even possible to write one

[2017-10-20 12:40] carltongibson commented on #799
I think you’re going to need to explain you use case more fully. I don’t really know what you’re asking, or trying to do.

Can you explain what you’d do at the View layer without using Django Filter?  We can go from there.

[2017-10-20 13:46] cicuz commented on #799
The view layer is essentially a verbatim ModelViewSet, and I was wondering if it was possible to set a filter_backend to automatically parse search_fields off of URL variables. I tried looking inside `mixins.py` and `filters.py`, but it seems that URL variables are used only for getting a specific object, not for search operations.

[2017-10-23 23:46] rpkilby commented on #799
A simple approach would be to modify the `request.query_params` with the URL kwargs, as this is the data that's ultimately used to construct the FilterSet. eg,

[code]

That said, I'd encourage you to restructure your URL to use query params instead of URL kwargs.

[2017-10-24 04:32] rpkilby opened #802 "get_schema_fields should not suppress FilterSet class errors"
This is an evolution of #764. In short, the *actual* issue is that FilterSet class creation errors are being caught with the general [exception handling](https://github.com/carltongibson/django-filter/blob/1.1.0/django_filters/rest_framework/backends.py#L88-L95).

I'd argue that these errors should not be caught, as FilterSet class creation is *not* dependent on the view/request/queryset/etc...

[2017-10-24 04:33] rpkilby commented on #764
Closing in favor of #802.

Additionally, users can use the `-Werror` flag, and if they're on python 3, the warning will chain with the original exception.

[2017-10-24 04:33] #764 closed

[2017-10-24 07:54] carltongibson commented on #799
Ah, thanks @rpkilby, now I see what's meant.

Say you filter by an `id` in the URL, and then further filter by query params, e.g. `?state=open`, or such.

In that case, I'd put the `id` filtering in `get_queryset` or such. (It's already part of `get_object`, I suppose. But going with the example...)

This splits the filtering, but the normal use is two-different kinds of restriction... — it's just

[2017-10-24 07:54] #799 closed

[2017-10-24 08:21] #802 closed

[2017-10-24 08:29] rpkilby opened #804 "v1.1 tag/release commit is incorrect"
It's the same as v1.0.4

[2017-10-24 08:31] carltongibson commented on #804
Hmmm.

I've got 1.1 at af6cff84a2ff3e09e94e4b8649cd06a417dd5228
and 1.0.4 at 7e949076a5dec69811d081fd78838999c8abf374

[2017-10-24 08:32] carltongibson commented on #804
That seems to match here https://github.com/carltongibson/django-filter/releases

[2017-10-24 08:32] rpkilby commented on #804
Oh whoops, I was simply looking at the "27 commits to develop since this release"

[2017-10-24 08:33] rpkilby commented on #804
And then assumed that the commits were the same

[2017-10-24 08:37] #804 closed

[2017-10-24 08:40] rpkilby commented on #804
Okay, so it looks like develop and master have diverged?

Instead of one release commit, there are two:

- af6cff84a2ff3e09e94e4b8649cd06a417dd5228
- 0148e576798f5142acb776e0915c722e84e40a69

[2017-10-24 08:46] carltongibson commented on #804
Yeah. Probably. I'm just reviewing #788. Once that's merged I'm going to merge `develop` into `master` and delete the `develop` branch. Everything after that will happen on `master`.

[2017-10-24 08:59] #740 closed

[2017-10-24 09:01] rpkilby commented on #740
Hi @Alexx-G. A 2.0 release is still a ways out, but there are going to be some changes to the API that specifically address this question. In short,

- You will want to override the `.filter_queryset()` method. The `.qs` attribute will basically be responsible for calling `.filter_queryset()` and caching its result.
- You can get the filter values for prefetching from `self.form.cleaned_data`.

[2017-10-24 09:40] eprikazc opened #806 "Link to documentation does not work"
https://django-filter.readthedocs.io/en/develop/ says "SORRY This page does not exist yet"
![readthedocs-page-not-found](https://user-images.githubusercontent.com/161618/31935833-85ff7028-b8b8-11e7-8662-b474275b8ecd.png)

[2017-10-24 09:42] rpkilby commented on #806
Yep - the branch structure just changed. It should be "master", not "develop"

[2017-10-24 09:44] carltongibson commented on #806
@eprikazc Where did you get that link? (Ta)

[2017-10-24 09:47] rpkilby commented on #806
The readme is has two links. One towards the top, and the DRF integration docs towards the bottom

[2017-10-24 09:48] carltongibson commented on #806
OK, they're gone. No doubt there'll be more.

[2017-10-24 09:48] #806 closed

[2017-10-24 10:35] Alexx-G commented on #740
Thanks a lot for your effort!

[2017-10-24 15:12] rpkilby commented on #745
Okay, a first pass is up (see: https://github.com/philipn/django-rest-framework-filters/pull/197).

[2017-10-25 04:13] rpkilby opened #808 "RTD redirects to "develop", not "master""
Hi @carltongibson. It looks like https://django-filter.readthedocs.io is redirecting to https://django-filter.readthedocs.io/en/develop/

[2017-10-25 06:47] carltongibson commented on #808
OK. Thanks. Now resolved.

[2017-10-25 06:47] #808 closed

[2017-10-25 20:37] eamigo86 commented on #514
Hi @vaibhav-jain  , you can update the [stackoverflow](http://stackoverflow.com/questions/39929084/how-to-perform-or-query-using-django-filter) solution for this issue, which appears to be obsolete.

[2017-10-26 04:42] rpkilby commented on #514
HI @eamigo86, the only change necessary should be that `action` was renamed to `method`. I've submitted an edit to the stackoverflow answer.

In prior versions we took care to provide deprecation warnings where possible. If you are running into upgrade issue, try running your tests with the -Werror option, then upgrade incrementally as those issues are fixed. I'd also point you to the [migration d